
.my_tt
{
	cursor: help;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	text-decoration: none;
}

a.seed, .seed
{
	color: #00B200;
}

a.leech, .leech
{
	color: #D40000;
}

a.complet, .complet
{
	color: #310083;
}

a.ext_peer, .ext_peer
{
	color: #CFCFCF;
}


table.table2 {
	width: 100%;
}

table.table2 thead th span {
	padding-left: 7px;
}

table.table2 tbody tr {
	border: 1px solid transparent;
}

table.table2 td {
	font-size: 1.1em;
}

table.table2 tbody td {
	padding: 5px;
	border-top: 1px solid #F5F7FA;
}

table.table2 tbody th {
	padding: 5px;
	border-bottom: 1px solid transparent;
	text-align: left;
}

a.my_ath:link, a.my_ath:visited
{
	font-weight: normal;
	color: #105289 !important;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	text-decoration: none;
	text-transform: uppercase;
}

a.null_link:link, a.null_link:hover
{
	text-decoration:none;
	cursor:default;
}
