<script src="{TRACKER_EXT_PATH}{TRACKER_ADDIT_JS}" type="text/javascript"></script>

<!-- IF .addit_js -->
<!-- BEGIN addit_js -->
	<!-- IF addit_js.FILE -->
	<script src="{addit_js.TRACKER_ADDIT_JS}" type="text/javascript"></script>
	<!-- ELSE -->
	{addit_js.TRACKER_ADDIT_JS}
	<!-- ENDIF -->
<!-- END addit_js -->
<!-- ENDIF -->
