<!-- IF S_TRACKER_STAT -->
	<div class="stat-block statistics">
		<h3><span title="{STAT_UPDATE_TIME}">{L_TRACKER_STATISTICS}</span></h3>
		<p>
			<!-- IF S_TINFO_TORRENTSSIZES -->{TOTAL_SIZE} &bull; {TOTAL_TORRENTS} &bull; <!-- ENDIF --><!-- IF S_TINFO_COMMENTS -->{TOTAL_COMMENTS} &bull; <!-- ENDIF -->{TOTAL_PEERS} &bull; {TOTAL_SEED} &bull; {TOTAL_LEECH}
			<br />{TOTAL_UP} &bull; {TOTAL_DOWN} &bull; {TOTAL_SUP} &bull; {TOTAL_SDOWN} &bull; {TOTAL_COMPLET}
			<br />{TOTAL_TDOWN} &bull; {TOTAL_TUP} &bull; {TOTAL_UDOWN} &bull; {TOTAL_UUP}
		</p>
	</div>
<!-- ENDIF -->
