<!-- IF TRACKER_INFO_OPT -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

		<h3>{L_TRACKER_USER_DATA}</h3>

		<div>
			<table class="table2">
			<tr class="bg1">
				<td style="text-align:center;">
					<!-- IF S_TINFO_TORRENTSSIZES -->{L_TRACKER_USER_TORRENTS}: <a href="<!-- IF S_DISPLAY_SEARCH -->{U_TRACKER_USER_TORRENTS}<!-- ELSE -->#<!-- ENDIF -->"><b>{TRACKER_USER_TORRENTS}</b></a><!-- ENDIF -->
				</td>
				<td style="text-align:center;">
					<!-- IF S_TINFO_COMMENTS -->{L_TRACKER_USER_COMMENTS}: <a href="<!-- IF S_DISPLAY_SEARCH -->{U_TRACKER_USER_COMMENTS}<!-- ELSE -->#<!-- ENDIF -->"><b>{TRACKER_USER_COMMENTS}</b></a><!-- ENDIF -->
				</td>
				<td style="text-align:center;">{L_TRACKER_USER_RATIO}: <b>{TRACKER_USER_RATIO}</b></td>
				<td style="text-align:center;">{L_TRACKER_USER_UPLOAD}: <b>{TRACKER_USER_UPLOAD}</b></td>
				<td style="text-align:center;">{L_TRACKER_USER_DOWNLOAD}: <b>{TRACKER_USER_DOWNLOAD}</b></td>
			</tr>
			</table>
		</div>

	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- IF TORRENT_INFO_OPT -->
<div class="panel" style="width:auto;overflow:auto;">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{L_TORRENT_USER_DATA}</h3>
		<div>
			<table class="table2">
				<tr id="torrent_stat">
					<td class="bg1" style="text-align:center;">
						{TORRENT_INFO_STAT_HEADERS}<!-- IF S_HAS_TORRENT_EXPLAIN -->&nbsp;<span id="c_torrent_close">[<a onclick="javascript:toggle_block('c_torrent_stat');" href="javascript:;" title="{L_SHOW_HIDE}">x</a>]</span><!-- ENDIF -->
					</td>
				</tr>
				<!-- IF S_HAS_TORRENT_EXPLAIN -->
				<tr id="c_torrent_stat">
					<td class="bg2">

							<!-- INCLUDE mua_torrents_explain.html -->

					</td>
				</tr>
				<!-- ENDIF -->
			</table>
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
