<!-- IF S_ENABLE_TRFEEDS -->
	<!-- IF S_ENABLE_TRFEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_TRFEED} - {SITENAME} - {L_TRFEED_OVERALL}" href="{U_TRFEED}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TORRENTS --><link rel="alternate" type="application/atom+xml" title="{L_TRFEED} - {SITENAME} - {L_TRACKER_TORRENTS}" href="{U_TRFEED}?mode=torrents"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_COMMENTS --><link rel="alternate" type="application/atom+xml" title="{L_TRFEED} - {SITENAME} - {L_TRACKER_COMMENTS}" href="{U_TRFEED}?mode=comments"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TRACKERS --><link rel="alternate" type="application/atom+xml" title="{L_TRFEED} - {L_ALL_TRACKERS}" href="{U_TRFEED}?mode=trackers"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TORRENTS_NEW  --><link rel="alternate" type="application/atom+xml" title="{L_TRFEED} - {L_FEED_TORRENTS_NEW}" href="{U_TRFEED}?mode=torrents_new"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TORRENTS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_TRFEED} - {L_FEED_TORRENTS_ACTIVE}" href="{U_TRFEED}?mode=torrents_active"><!-- ENDIF -->
	<!-- IF S_ENABLE_TRFEEDS_FORUM and S_FORUM_ID -->
		<!-- IF S_ENABLE_FEEDS_TORRENTS --><link rel="alternate" type="application/atom+xml" title="{L_TRFEED} - {L_FORUM} - {FORUM_NAME} - {L_TRACKER_TORRENTS}" href="{U_TRFEED}?f={S_FORUM_ID}"><!-- ENDIF -->
		<!-- IF S_ENABLE_FEEDS_COMMENTS --><link rel="alternate" type="application/atom+xml" title="{L_TRFEED} - {L_FORUM} - {FORUM_NAME} - {L_TRACKER_COMMENTS}" href="{U_TRFEED}?mode=comments&amp;f={S_FORUM_ID}"><!-- ENDIF -->
	<!-- ENDIF -->
	<!-- IF S_ENABLE_TRFEEDS_TOPIC and S_TOPIC_ID -->
		<!-- IF S_ENABLE_FEEDS_TORRENTS --><link rel="alternate" type="application/atom+xml" title="{L_TRFEED} - {L_TOPIC} - {TOPIC_TITLE} - {L_TRACKER_TORRENTS}" href="{U_TRFEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}"><!-- ENDIF -->
		<!-- IF S_ENABLE_FEEDS_COMMENTS --><link rel="alternate" type="application/atom+xml" title="{L_TRFEED} - {L_TOPIC} - {TOPIC_TITLE} - {L_TRACKER_COMMENTS}" href="{U_TRFEED}?mode=comments&amp;f={S_FORUM_ID}&amp;t={S_TOPIC_ID}"><!-- ENDIF -->
	<!-- ENDIF -->
<!-- ENDIF -->

<link rel="stylesheet" href="{TRACKER_EXT_PATH}{TRACKER_ADDIT_CSS}" type="text/css" />

<!-- IF .addit_css -->
<!-- BEGIN addit_css -->
	<!-- IF addit_css.FILE -->
	<link rel="stylesheet" href="{addit_css.TRACKER_ADDIT_CSS}" type="text/css" />
	<!-- ELSE -->
	{addit_css.TRACKER_ADDIT_CSS}
	<!-- ENDIF -->
<!-- END addit_css -->
<!-- ENDIF -->

<!-- IF S_HAS_TORRENT_EXPLAIN -->
<link rel="stylesheet" href="{TRACKER_EXT_PATH}{XBTBB3CKER_ADDONS}css/jquery.dataTables.css" type="text/css" />
<!-- ENDIF -->

<!-- IF S_HAS_TOPICS_TORRENT -->
<style type="text/css">
	dd.posts, dd.views
	{
		line-height: 1.3em;
	}
</style>
<!-- ENDIF -->

<!-- IF TOPDOWN_TORRENTS_POSTERS -->
<style type="text/css">
.stepcarousel
{
	position: relative; /*leave this value alone*/
	border: 1px solid #FFFFFF;
	overflow: scroll; /*leave this value alone*/
	width: {S_TOPDOWN_TORRENTS_WIDTH}; /*Width of Carousel Viewer itself*/
	height: {S_TOPDOWN_TORRENTS_HEIGHT}px; /*Height should enough to fit largest content's height*/
	margin: 0px auto;
}

.stepcarousel .belt
{
	position: absolute; /*leave this value alone*/
	left: 0;
	top: 0;
}

.stepcarousel .panel
{
	float: left; /*leave this value alone*/
	overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
	margin: 5px 1px; /*margin around each panel*/
	vertical-align:top;
	text-align:left;
	<!-- IF S_TOPDOWN_TORRENTS_WIDTH2 -->width: {S_TOPDOWN_TORRENTS_WIDTH2}px;<!-- ENDIF -->
}

#tdtnav_prevbutton, #tdtnav_nextbutton
{
	cursor:pointer;
	position: absolute;
	top: 50%;
}
</style>
<!-- ENDIF -->
