<script src="{TRACKER_EXT_PATH}{TRACKER_ADDIT_JS}" type="text/javascript"></script>

<!-- IF .addit_js -->
<!-- BEGIN addit_js -->
	<!-- IF addit_js.FILE -->
	<script src="{addit_js.TRACKER_ADDIT_JS}" type="text/javascript"></script>
	<!-- ELSE -->
	{addit_js.TRACKER_ADDIT_JS}
	<!-- ENDIF -->
<!-- END addit_js -->
<!-- ENDIF -->

<script type="text/javascript">
// <![CDATA[

		jQuery(document).ready(
			function($)
			{
				<!-- IF SCRIPT_NAME == 'search' -->
					$('hr.dashed').before('<dl><dt><label for="ot">{L_ONLY_TRACKERS}{L_COLON}</label></dt><dd><label for="ot"><input type="checkbox" name="ot" id="ot" value="1"<!-- IF S_SEARCH_ASTRACKER --> checked="checked"<!-- ENDIF --> /> {L_ONLY_TRACKERS_EXPLAIN}</label></dd></dl>');
					<!-- IF S_SEARCH_ASTRACKER -->
						$('#sf3').prop('checked', true);
						$('#show_results2').prop('checked', true);
						<!-- IF S_SEARCH_POST_TORRENT -->
							$('hr.dashed').before('<dl><dt><label>{L_POST_TORRENT}{L_COLON}</label></dt><dd><label><select name="pt"><option value="0">{L_POST_TORRENT_ALL}</option><option value="t"<!-- IF S_SEARCH_ASTRACKER --> selected="selected"<!-- ENDIF -->>{L_POST_TORRENT_TORRENT}</option><option value="c">{L_POST_TORRENT_COMMENT}</option></select></label></dd></dl>');
						<!-- ENDIF -->
					<!-- ENDIF -->
				<!-- ELSE -->
					<!-- IF S_SEARCH_ASTRACKER -->
						$('#search').append('<input type="hidden" name="sf" value="titleonly" /><input type="hidden" name="sr" value="topics" /><input type="hidden" name="ot" value="1" /><!-- IF S_SEARCH_POST_TORRENT --><input type="hidden" name="pt" value="t" /><!-- ENDIF -->');
					<!-- ENDIF -->
				<!-- ENDIF -->

			}
		);
// ]]>
</script>

<!-- IF S_HAS_TORRENT_EXPLAIN -->
<script src="{TRACKER_EXT_PATH}{XBTBB3CKER_ADDONS}js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{TRACKER_EXT_PATH}{XBTBB3CKER_ADDONS}js/jquery.dataTables.ext.js" type="text/javascript"></script>

<script type="text/javascript">
// <![CDATA[
jQuery(document).ready(function($){
	$('#tt_info').dataTable({
		"iDisplayLength": {S_MUA_COUNTLIST_DEFAULT},
		//"bSort": false,
		"bPaginate": true,
		"sPaginationType": "full_numbers",
		"aLengthMenu": [[{S_MUA_COUNTLIST_KEYS}], [{S_MUA_COUNTLIST_VALUES}]],
		"aoColumns": [<!-- BEGIN torrent_headers -->{"sType": "num-html"}<!-- IF not torrent_headers.S_LAST_ROW -->, <!-- ENDIF --><!-- END torrent_headers -->],
		"oLanguage":
		{
			"sLengthMenu": "{L_DT_SLENGTHMENU}",
			"sZeroRecords": "{L_DT_SZERORECORDS}",
			"sInfo": "{L_DT_SINFO}",
			"sInfoEmpty": "{L_DT_SINFOEMTPY}",
			"sInfoFiltered": "{L_DT_SINFOFILTERED}",
			"sSearch": "{L_DT_SSEARCH}",
			"oPaginate":
			{
				"sNext": "{L_DT_SNEXT}",
				"sPrevious": "{L_DT_SPREVIOUS}",
				"sFirst": "{L_DT_SFIRST}",
				"sLast": "{L_DT_SLAST}"
			}
		}
	});
});
function fnShowHide( iCol )
{
	var oTable = jQuery('#tt_info').dataTable();
	var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
	oTable.fnSetColumnVis( iCol, bVis ? false : true );
}
// ]]>
</script>
<!-- ENDIF -->

<!-- IF TOPDOWN_TORRENTS_POSTERS -->
<script type="text/javascript">
// <![CDATA[
	var stepcarousel_loader = '<img src="{TRACKER_EXT_PATH}{XBTBB3CKER_ADDONS}images/preloader.gif" style="vertical-align: middle" /> {L_TDT_WAIT}';
// ]]>
</script>

<script src="{TRACKER_EXT_PATH}{XBTBB3CKER_ADDONS}js/stepcarousel.js" type="text/javascript" ></script>
<script type="text/javascript">
stepcarousel.setup({
	galleryid: 'gallerya{TDT_ID}', //id of carousel DIV
	beltclass: 'belt', //class of inner "belt" DIV containing all the panel DIVs
	panelclass: 'panel', //class of panel DIVs each holding content
	autostep: {enable: {S_TOPDOWN_TORRENTS_AUTOSTEP}, moveby: {S_TOPDOWN_TORRENTS_MOVEBY}, pause: {S_TOPDOWN_TORRENTS_PAUSE}},
	panelbehavior: {speed: {S_TOPDOWN_TORRENTS_SPEED}, wraparound: {S_TOPDOWN_TORRENTS_WRAPAROUND}, wrapbehavior: '{S_TOPDOWN_TORRENTS_WRAPBEHAVIOR}', persist: {S_TOPDOWN_TORRENTS_PERSIST}},
	defaultbuttons: {enable: {S_TOPDOWN_TORRENTS_DEFAULTBUTTONS}, moveby: {S_TOPDOWN_TORRENTS_MOVEBY2}, leftnav: ['{TRACKER_EXT_PATH}{XBTBB3CKER_ADDONS}images/stepcarousel/go-previous-document.png', -10, {S_TOPDOWN_TORRENTS_BUTTPOS}], rightnav: ['{TRACKER_EXT_PATH}{XBTBB3CKER_ADDONS}images/stepcarousel/go-next-document.png', -5, {S_TOPDOWN_TORRENTS_BUTTPOS}]},
	contenttype: ['ajax', '{TDT_URL}'] //content setting ['inline'] or ['external', 'path_to_external_file']
})
</script>
<!-- ENDIF -->
