
<!-- IF S_REGISTERED_USER -->
<div class="navbar" role="navigation" style="margin-top:5px;">
	<div class="inner">
		<ul id="nav-main" class="linklist bulletin" role="menubar">

		<!-- IF S_DISPLAY_SEARCH -->
		<li id="torrents-links" class="quick-links dropdown-container responsive-menu<!-- IF not S_DISPLAY_QUICK_LINKS --> hidden<!-- ENDIF -->" data-skip-responsive="true">
			<a href="#" class="dropdown-trigger">
				<i class="icon fa-bars fa-fw" aria-hidden="true"></i><span>{L_SEARCH_ALL_TORRENT}</span>
			</a>
			<div class="dropdown hidden">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents" role="menu">

					<li>
						<a href="{U_SEARCH_SELF_TORRENT}" role="menuitem"><i class="icon fa-file-o fa-fw" aria-hidden="true"></i><span>{L_SEARCH_SELF_TORRENT}</span></a>
					</li>
					<li>
						<a href="{U_SEARCH_NEW_TORRENT}" role="menuitem"><i class="icon fa-file-o fa-fw" aria-hidden="true"></i><span>{L_SEARCH_NEW_TORRENT}</span></a>
					</li>
					<li>
						<a href="{U_SEARCH_ACTIVE_TORRENT}" role="menuitem"><i class="icon fa-file-o fa-fw" aria-hidden="true"></i><span>{L_SEARCH_ACTIVE_TORRENT}</span></a>
					</li>
					<li>
						<a href="{U_SEARCH_UNREAD_TORRENT}" role="menuitem"><i class="icon fa-file-o fa-fw" aria-hidden="true"></i><span>{L_SEARCH_UNREAD_TORRENT}</span></a>
					</li>
					<li>
						<a href="{U_SEARCH_UNANSWERED_TORRENT}" role="menuitem"><i class="icon fa-file-o fa-fw" aria-hidden="true"></i><span>{L_SEARCH_UNANSWERED_TORRENT}</span></a>
					</li>

				</ul>
			</div>
		</li>

		<li id="comments-links" class="quick-links dropdown-container responsive-menu<!-- IF not S_DISPLAY_QUICK_LINKS --> hidden<!-- ENDIF -->" data-skip-responsive="true">
			<a href="#" class="dropdown-trigger">
				<i class="icon fa-bars fa-fw" aria-hidden="true"></i><span>{L_SEARCH_ALL_COMMENT}</span>
			</a>
			<div class="dropdown hidden">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents" role="menu">

					<li>
						<a href="{U_SEARCH_SELF_COMMENT}" role="menuitem"><i class="icon fa-file-o fa-fw" aria-hidden="true"></i><span>{L_SEARCH_SELF_COMMENT}</span></a>
					</li>
					<li>
						<a href="{U_SEARCH_NEW_COMMENT}" role="menuitem"><i class="icon fa-file-o fa-fw" aria-hidden="true"></i><span>{L_SEARCH_NEW_COMMENT}</span></a>
					</li>

				</ul>
			</div>
		</li>
		<!-- ENDIF -->
		<li class="rightside" data-skip-responsive="true">
			<div class="header-profile dropdown-container">
				<a href="{U_PROFILE}" class="dropdown-trigger">{L_TORRENT_INFO_HEADER_RATIO}:&nbsp;<strong>{U_TINFO_RATIO}</strong>&#9660;</a>
				<div class="dropdown hidden">
					<div class="pointer"><div class="pointer-inner"></div></div>
					<ul class="dropdown-contents" role="menu">
						<li>
							<a class="seed null_link" href="#" title="" role="menuitem"><i class="icon fa-upload fa-fw" aria-hidden="true"></i><span>{L_TORRENT_INFO_HEADER_UPLOADED}:&nbsp;<strong>{U_TINFO_UP}</strong></span></a>
						</li>
						<li>
							<a class="leech null_link" href="#" title="" role="menuitem"><i class="icon fa-download fa-fw" aria-hidden="true"></i><span>{L_TORRENT_INFO_HEADER_DOWNLOADED}:&nbsp;<strong>{U_TINFO_DOWN}</strong></span></a>
						</li>
					</ul>
				</div>
			</div>
		</li>

		<!-- IF U_TRTOP --><li class="rightside"><a href="{U_TRTOP}" title="{LNG_TRTOP}" role="menuitem"><i class="icon fa-group fa-fw" aria-hidden="true"></i><span>{LNG_TRTOP}</span></a></li><!-- ENDIF -->

		</ul>
	</div>
</div>
<!-- IF S_USER_RESTRICTS -->
<div class="panel" style="margin-top:5px;">
	<div class="inner">
		<h3 class="error">{L_USER_RESTRICTS_HEADER}</h3>
		<span>{S_USER_RESTRICTS}</span>
	</div>
</div>
<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF  TDT_URL -->
	<!-- INCLUDE topdown_torrents.html -->
<!-- ENDIF -->

