<!-- IF S_SHOW_ANNWARN -->
<div><label for="annwarn"><input<!-- IF S_ANNWARN_CHECKED --> checked="checked"<!-- ENDIF --> type="checkbox" name="annwarn" id="annwarn" value="1" /> {L_TRACKER_ANNWARN}, {L_TRACKER_ANNWARN_EXPLAIN}</label></div>
<!-- ENDIF -->
