<!-- IF S_EXTPOSTERS or S_EXTSCREENSHOTS -->
<!-- IF .extposters -->
<dl>
	<dt><label>{L_EXT_POSTERS}</label></dt>
	<dd>
		{LNG_MAX_EXT_POSTERS}
	</dd>
</dl>
	<!-- BEGIN extposters -->
	<dl>
		<dt>{L_EXT_POSTER} [{extposters.EXTPOSTERS_I}]</dt>
		<dd>
			<input type="hidden" name="exp[{extposters.EXTPOSTERS_I}]" value="{extposters.EXTPOSTERS_MD5}" />
			<a href="javascript:;" onClick="document.getElementById('ep_{extposters.EXTPOSTERS_I}').value='';">x</a>&nbsp;<input class="inputbox autowidth" id="ep_{extposters.EXTPOSTERS_I}" size="64" maxlength="255" type="text" name="extposter[{extposters.EXTPOSTERS_I}]" value="{extposters.EXTPOSTERS_POSTER}" />
				[ <input onClick="javascript:toggle_block('extp{extposters.EXTPOSTERS_I}');" title="{L_POSTSCR_WHMANUAL_TITLE}" type="checkbox" name="is_manual_p[{extposters.EXTPOSTERS_I}]" value="1" />
				<span id="extp{extposters.EXTPOSTERS_I}" style="display:none;"> - <input class="inputbox autowidth" title="{L_POSTSCR_WIDTH}" size="4" maxlength="4" type="text" name="is_width_p[{extposters.EXTPOSTERS_I}]" value="{extposters.EXTPOSTERS_WIDTH}" />{L_PIXEL} <input class="inputbox autowidth" title="{L_POSTSCR_HEIGHT}" size="4" maxlength="4" type="text" name="is_height_p[{extposters.EXTPOSTERS_I}]" value="{extposters.EXTPOSTERS_HEIGHT}" />{L_PIXEL}</span>]
		</dd>
	</dl>
	<!-- END extposters -->
<!-- ENDIF -->
<!-- IF .extscreenshots -->
<dl>
	<dt><label>{L_EXT_SCREENSHOTS}</label></dt>
	<dd>
		{LNG_MAX_EXT_SCREENSHOTS}
	</dd>
</dl>
	<!-- BEGIN extscreenshots -->
	<dl>
		<dt>{L_EXT_SCREENSHOT} [{extscreenshots.EXTSCREENSHOTS_I}]</dt>
		<dd>
			<input type="hidden" name="exs[{extscreenshots.EXTSCREENSHOTS_I}]" value="{extscreenshots.EXTSCREENSHOTS_MD5}" />
			<a href="javascript:;" onClick="document.getElementById('es_{extscreenshots.EXTSCREENSHOTS_I}').value='';">x</a>&nbsp;<input class="inputbox autowidth" id="es_{extscreenshots.EXTSCREENSHOTS_I}" size="64" maxlength="255" type="text" name="extscreenshot[{extscreenshots.EXTSCREENSHOTS_I}]" value="{extscreenshots.EXTSCREENSHOTS_SCREENSHOT}" />
				[ <input onClick="javascript:toggle_block('exts{extscreenshots.EXTSCREENSHOTS_I}');" title="{L_POSTSCR_WHMANUAL_TITLE}" type="checkbox" name="is_manual_s[{extscreenshots.EXTSCREENSHOTS_I}]" value="1" />
				<span id="exts{extscreenshots.EXTSCREENSHOTS_I}" style="display:none;"> - <input class="inputbox autowidth" title="{L_POSTSCR_WIDTH}" size="4" maxlength="4" type="text" name="is_width_s[{extscreenshots.EXTSCREENSHOTS_I}]" value="{extscreenshots.EXTSCREENSHOTS_WIDTH}" />{L_PIXEL} <input class="inputbox autowidth" title="{L_POSTSCR_HEIGHT}" size="4" maxlength="4" type="text" name="is_height_s[{extscreenshots.EXTSCREENSHOTS_I}]" value="{extscreenshots.EXTSCREENSHOTS_HEIGHT}" />{L_PIXEL}</span>]
		</dd>
	</dl>
	<!-- END extscreenshots -->
<!-- ENDIF -->
<!-- ENDIF -->
