<!-- IF topicrow.S_HAS_TORRENT -->
<div style="float:right;">{topicrow.TORRENT_SIZE_VAL}</div>
<!-- ENDIF -->

<!-- IF searchresults.S_HAS_TORRENT -->
<div style="float:right;">{searchresults.TORRENT_SIZE_VAL}</div>
<!-- ENDIF -->
