<!-- IF postrow.S_HAS_TRACKER_SCREENSHOT and postrow.SCREENSHOT_BLOCK -->
	<div class="panel" style="width:auto;overflow:auto;">
		<div class="inner">
		<!-- IF postrow.SCREENSHOT_BLOCK_SPOILER -->
			<div class="sp-wrap">
				<div class="sp-body" title="{L_ATTACHMENTS_SCREENSHOT}">
				<!-- BEGIN postrow.screenshot_fields -->
					<a<!-- IF postrow.S_SCREENSHOTS_OPENTYPE == 1 --> target="blank"<!-- ENDIF --> title="{postrow.screenshot_fields.SCREENSHOT_FILESIZE}" href="{postrow.screenshot_fields.SCREENSHOT_LINK}"<!-- IF postrow.S_SCREENSHOTS_OPENTYPE == 2 --> rel="prettyPhotoScreenshots<!-- IF postrow.TRACKER_SCREENSHOTS_COUNT > 1 -->[{postrow.POST_ID}]<!-- ENDIF -->"<!-- ENDIF -->><img <!-- IF postrow.screenshot_fields.SCREENSHOT_WH_WIDTH -->width="{postrow.screenshot_fields.SCREENSHOT_WH_WIDTH}"<!-- ELSE -->height="{postrow.screenshot_fields.SCREENSHOT_WH_HEIGHT}"<!-- ENDIF --> src="{postrow.screenshot_fields.SCREENSHOT_SRC}" alt="" /></a>
				<!-- END postrow.screenshot_fields -->
				</div>
			</div>
		<!-- ELSE -->
		<div style="font-weight:bold;text-align:center;"><a id="screenshot{postrow.POST_ID}" href="#screenshot{postrow.POST_ID}" onclick="toggle_block('screenshots{postrow.POST_ID}');" title="{L_SHOW_HIDE}" class="my_tt">{L_ATTACHMENTS_SCREENSHOT}</a></div>
		<table class="table2"<!-- IF postrow.SCREENSHOT_BLOCK_CLOSE --> style="display:none;"<!-- ENDIF --> id="screenshots{postrow.POST_ID}">
			<tr>
				<!-- BEGIN postrow.screenshot_fields -->
				<td style="text-align:center;">
					<a<!-- IF postrow.S_SCREENSHOTS_OPENTYPE == 1 --> target="blank"<!-- ENDIF --> title="{postrow.screenshot_fields.SCREENSHOT_FILESIZE}" href="{postrow.screenshot_fields.SCREENSHOT_LINK}"<!-- IF postrow.S_SCREENSHOTS_OPENTYPE == 2 --> rel="prettyPhotoScreenshots<!-- IF postrow.TRACKER_SCREENSHOTS_COUNT > 1 -->[{postrow.POST_ID}]<!-- ENDIF -->"<!-- ENDIF -->><img <!-- IF postrow.screenshot_fields.SCREENSHOT_WH_WIDTH -->width="{postrow.screenshot_fields.SCREENSHOT_WH_WIDTH}"<!-- ELSE -->height="{postrow.screenshot_fields.SCREENSHOT_WH_HEIGHT}"<!-- ENDIF --> src="{postrow.screenshot_fields.SCREENSHOT_SRC}" alt="" /></a>
				</td>
				<!-- END postrow.screenshot_fields -->
			</tr>
		</table>
		<!-- ENDIF -->
		</div>
	</div>
<!-- ENDIF -->
