<!-- IF postrow.S_HAS_TRACKER_TORRENT -->

	<!-- IF postrow.S_TORRENT_TOP_NOTICE -->
	<div class="panel" style="text-align:center;width:auto;">
		<div class="inner">
			{postrow.S_TORRENT_TOP_NOTICE}
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF postrow.TORRENT_BLOCK -->
	<div class="panel"<!-- IF not postrow.TORRENT_INFO_STAT_MENU --> style="width:auto;overflow:auto;"<!-- ENDIF -->>
		<div class="inner">
		<table class="table2">
			<!-- IF not S_IS_CANDOWNTORR and not S_USER_LOGGED_IN and postrow.TORRENT_LOGORREG -->
			<thead>
				<tr>
					<td style="line-height:1.3em;text-align:center;">{postrow.TORRENT_LOGORREG}</td>
				</tr>
			</thead>
			<!-- ELSE -->
			<thead>
				<tr>
					<td style="min-width:60%;">
						<strong>{L_ATTACHMENTS_TORRENT}</strong>
						<!-- IF postrow.S_IS_CANDOWNTORR -->
							[<!-- IF postrow.U_SET_STATUS -->
								<a href="{postrow.U_SET_STATUS}" data-ajax="true" data-refresh="true" title="{L_SET_STATUS}">{L_TORRENT_STATUS}</a>:
								<!-- ELSE -->
								{L_TORRENT_STATUS}:
								<!-- ENDIF -->
								<span<!-- IF postrow.TORRENT_STATUS_AUTHOR --> class="my_tt" title="{postrow.TORRENT_STATUS_EXPLAIN}"<!-- ENDIF -->>{postrow.TORRENT_STATUS}</span> ]
						<!-- ENDIF -->
						<!-- IF postrow.U_SET_REQUPRATIO -->
							(<a href="{postrow.U_SET_REQUPRATIO}" data-ajax="true" data-refresh="true" title="{L_SET_REQUPRATIO}">{postrow.TORRENT_REQUPRATIO}</a>)
						<!-- ELSE IF postrow.TORRENT_REQUPRATIO -->
							(<span title="{L_TORRENT_REQUPRATIO_EXPLAIN}" class="my_tt<!-- IF postrow.TORRENT_REQRATIO_ERROR or postrow.TORRENT_REQUPLOAD_ERROR --> error<!-- ENDIF -->">{postrow.TORRENT_REQUPRATIO}</span>)
						<!-- ENDIF -->
					</td>
					<!-- IF postrow.S_IS_CANDOWNTORR and postrow.CANDOWN_TORRENT_STATUS --><td style="font-weight:bold;text-align:center;"><!-- IF S_HASH_ONLY -->{L_TORRENT_HASH}<!-- ELSE -->{L_DOWNLOAD_TORRENT_SHORT}<!-- ENDIF --></td><!-- ENDIF -->
					<!-- IF postrow.TORRENT_INFO_SHORT and postrow.CANDOWN_TORRENT_STATUS -->
					<td style="text-align:center;">{L_TORRENT_SEEDERS}</td>
					<td style="text-align:center;">{L_TORRENT_LEECHERS}</td>
					<td style="text-align:center;">{L_TORRENT_SIZE}</td>
					<!-- ENDIF -->
					<!-- IF postrow.U_BOOKMARKS -->
					<td style="text-align:center;"><a href="{postrow.U_BOOKMARKS}" data-ajax="true" data-refresh="true" title="{L_ADD_BOOKMARKS}<!-- IF postrow.TORRENT_BOOKMARKS -->{L_ADD_BOOKMARKS_EXPLAIN}<!-- ENDIF -->"><i class="icon fa-bookmark icon-gray" aria-hidden="true"></i><span></span></a></td>
					<!-- ENDIF -->
				</tr>
			</thead>
			<tbody>
			<!-- BEGIN postrow.torrent_fields -->
			<tr class="<!-- IF postrow.torrent_fields.S_HAS_TORRENT_EXPLAIN -->bg3<!-- ELSE -->bg1<!-- ENDIF -->" id="torrent{postrow.torrent_fields.TORRENT_ID}">
				<td>
					<div style="float:left;"><!-- IF postrow.torrent_fields.TORRENT_SHORTNAME --><span class="my_tt" title="{postrow.torrent_fields.TORRENT_FILENAME}">{postrow.torrent_fields.TORRENT_SHORTNAME}</span><!-- ELSE -->{postrow.torrent_fields.TORRENT_FILENAME}<!-- ENDIF --></div>
					<div style="float:right;">
					<!-- IF postrow.CANDOWN_TORRENT_STATUS -->
						<!-- IF not postrow.TORRENT_INFO_ADDIT_MENU and postrow.TORRENT_INFO_ADDIT --> <a href="#torrent{postrow.torrent_fields.TORRENT_ID}" onclick="toggle_block('torrent_addit{postrow.torrent_fields.TORRENT_ID}');" title="{L_TORRENT_INFO_ADDIT}"><i class="icon fa-info-circle icon-gray" aria-hidden="true"></i><span></span></a><!-- ENDIF -->
						<!-- IF not postrow.TORRENT_INFO_STAT_MENU and postrow.TORRENT_INFO_STAT --> <a href="#torrent_stat{postrow.torrent_fields.TORRENT_ID}" onclick="toggle_block('torrent_stat{postrow.torrent_fields.TORRENT_ID}');" title="{L_TORRENT_INFO_STAT}"><i class="icon fa-bar-chart icon-gray" aria-hidden="true"></i><span></span></a><!-- ENDIF -->

						<!-- IF postrow.TORRENT_INFO_STAT_MENU and postrow.TORRENT_INFO_STAT -->
						<li class="rightside" data-skip-responsive="true" style="list-style:none;float:right;">
							<div class="dropdown-container">
								&nbsp;<a href="#" class="dropdown-trigger" title="{L_TORRENT_INFO_STAT}"><i class="icon fa-bar-chart icon-gray" aria-hidden="true"></i><span></span></a>
								<div class="dropdown hidden">
									<div class="pointer"><div class="pointer-inner"></div></div>
									<ul class="dropdown-contents" role="menu">
										{postrow.torrent_fields.TORRENT_INFO_STAT_HEADERS_MENU}
									</ul>
								</div>
							</div>
						</li>
						<!-- ENDIF -->
						<!-- IF postrow.TORRENT_INFO_ADDIT_MENU and postrow.TORRENT_INFO_ADDIT -->
						<li class="rightside" data-skip-responsive="true" style="list-style:none;float:right;">
							<div class="dropdown-container">
								&nbsp;<a href="#" class="dropdown-trigger" title="{L_TORRENT_INFO_ADDIT}"><i class="icon fa-info-circle icon-gray" aria-hidden="true"></i><span></span></a>
								<div class="dropdown hidden">
									<div class="pointer"><div class="pointer-inner"></div></div>
										<ul class="dropdown-contents" role="menu">
											<li>
												<a class="null_link" href="#"><i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span><b>{L_TORRENT_ADDED}</b>: <span class="my_tt" title="{postrow.torrent_fields.TORRENT_ADDED_LEFT} {L_TORRENT_LAST_TIME}">{postrow.torrent_fields.TORRENT_ADDED}</span></span></a>
											</li>
											<li>
												<a class="null_link" href="#"><i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span><b>{L_TORRENT_FILES}</b>: {postrow.torrent_fields.TORRENT_FILES}</span></a>
											</li>
											<li>
												<a class="null_link" href="#"><i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span><b>{L_TORRENT_PRIVATE}</b>: <!-- IF postrow.torrent_fields.TORRENT_PRIVATE -->{L_TORRENT_PRIVATE_YES}<!-- ELSE -->{L_TORRENT_PRIVATE_NO}<!-- ENDIF --></span></a>
											</li>
											<li>
												<a class="null_link" href="#"><i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span><b>{L_TORRENT_COMPLETED}</b>: <span class="complet">{postrow.torrent_fields.TORRENT_COMPLETED}</span></span></a>
											</li>
											<li>
												<a class="null_link" href="#"><i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span><b>{L_TORRENT_PERCENT}</b>: {postrow.torrent_fields.TORRENT_SPERCENT}%</span></a>
											</li>
											<li>
												<a class="null_link" href="#"><i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span><b>{L_TORRENT_HEALTH}</b>: {postrow.torrent_fields.TORRENT_HEALTH}</span></a>
											</li>
										</ul>
									</ul>
								</div>
							</div>
						</li>
						<!-- ENDIF -->
					<!-- ENDIF -->
					</div>
				</td>
				<!-- IF postrow.S_IS_CANDOWNTORR and postrow.CANDOWN_TORRENT_STATUS -->
				<td style="text-align:center;">
					<!-- IF postrow.TORRENT_REQRATIO_ERROR or postrow.TORRENT_REQUPLOAD_ERROR -->
						<a class="null_link" href="#" title="<!-- IF postrow.TORRENT_REQRATIO_ERROR -->{postrow.TORRENT_REQRATIO_ERROR}<!-- ELSE -->{postrow.TORRENT_REQUPLOAD_ERROR}<!-- ENDIF -->"><i class="icon fa-warning icon-gray" aria-hidden="true"></i><span></span></a>
					<!-- ELSE -->
						<!-- IF S_HASH_ONLY -->
							{postrow.torrent_fields.TORRENT_HASH}
						<!-- ELSE -->
							<!-- IF postrow.torrent_fields.TORRENT_SRC_LINK -->
								<!-- IF TORRENT_LINK --> <a href="{postrow.torrent_fields.TORRENT_SRC_LINK}" title="{L_DOWNLOAD_TORRENT}"><i class="icon fa-save icon-gray" aria-hidden="true"></i><span></span></a> <!-- ENDIF -->
								<!-- IF TORRENT_MAGNET_LINK --> <a href="{postrow.torrent_fields.MAGNET_SRC_LINK}" title="{L_TORRENT_MAGNET_LINK}"><i class="icon fa-magnet icon-gray" aria-hidden="true"></i><span></span></a> <!-- ENDIF -->
								<!-- IF TORRENT_HASH_LINK --> <a href="{postrow.torrent_fields.HASH_SRC_LINK}" title="{L_TORRENT_HASH_LINK}"><i class="icon fa-cubes icon-gray" aria-hidden="true"></i><span></span></a> <!-- ENDIF -->
							<!-- ENDIF -->
						<!-- ENDIF -->
					<!-- ENDIF -->
				</td>
				<!-- ENDIF -->
				<!-- IF postrow.TORRENT_INFO_SHORT and postrow.CANDOWN_TORRENT_STATUS -->
				<td style="text-align:center;"><span class="seed">{postrow.torrent_fields.TORRENT_SEEDERS}</span></td>
				<td style="text-align:center;"><span class="leech">{postrow.torrent_fields.TORRENT_LEECHERS}</span></td>
				<td style="text-align:center;"><span class="my_tt" title="{postrow.torrent_fields.TORRENT_BSIZE} {L_BYTES}">{postrow.torrent_fields.TORRENT_SIZE}</span></td>
				<!-- ENDIF -->
				<!-- IF postrow.U_BOOKMARKS -->
				<td style="text-align:center;">
					<a class="null_link" href="#"<!-- IF postrow.TORRENT_BOOKMARKS --> title="({postrow.torrent_fields.TORRENT_BOOKMARK_COUNT})"<!-- ENDIF -->><!-- IF postrow.torrent_fields.TORRENT_BOOKMARK --><i class="icon fa-bookmark icon-gray" aria-hidden="true"></i><span></span><!-- ELSE --><i class="icon fa-bookmark-o icon-gray" aria-hidden="true"></i><span></span><!-- ENDIF --></a>
				<!-- ENDIF -->
			</tr>
			<!-- IF postrow.torrent_fields.TORRENT_COMMENT -->
			<tr class="bg1">
				<td colspan="6">{L_FILE_COMMENT}: {postrow.torrent_fields.TORRENT_COMMENT}</td>
			</tr>
			<!-- ENDIF -->
			<!-- IF not postrow.TORRENT_INFO_ADDIT_MENU and postrow.TORRENT_INFO_ADDIT -->
			<tr<!-- IF postrow.TORRENT_INFO_ADDIT_HIDE --> style="display:none;"<!-- ENDIF --> id="torrent_addit{postrow.torrent_fields.TORRENT_ID}">
				<td colspan="6" class="bg2">
					<table class="table2">
						<tr>
							<td width="33%"><b>{L_TORRENT_ADDED}</b>: <span class="my_tt" title="{postrow.torrent_fields.TORRENT_ADDED_LEFT} {L_TORRENT_LAST_TIME}">{postrow.torrent_fields.TORRENT_ADDED}</span></td>
							<td width="33%"><b>{L_TORRENT_FILES}</b>: {postrow.torrent_fields.TORRENT_FILES}</td>
							<td><b>{L_TORRENT_PRIVATE}</b>: <!-- IF postrow.torrent_fields.TORRENT_PRIVATE -->{L_TORRENT_PRIVATE_YES}<!-- ELSE -->{L_TORRENT_PRIVATE_NO}<!-- ENDIF --></td>
						</tr>
						<tr>
							<td width="33%"><b>{L_TORRENT_COMPLETED}</b>: <span class="complet">{postrow.torrent_fields.TORRENT_COMPLETED}</span></td>
							<td><b>{L_TORRENT_PERCENT}</b>: {postrow.torrent_fields.TORRENT_SPERCENT}%</td>
							<td><b>{L_TORRENT_HEALTH}</b>: {postrow.torrent_fields.TORRENT_HEALTH}</td>
						</tr>
					</table>
				</td>
			</tr>
			<!-- ENDIF -->
			<!-- IF not postrow.TORRENT_INFO_STAT_MENU and postrow.TORRENT_INFO_STAT -->
			<tr<!-- IF postrow.TORRENT_INFO_STAT_HIDE and not postrow.torrent_fields.S_HAS_TORRENT_EXPLAIN --> style="display:none;"<!-- ENDIF --> id="torrent_stat{postrow.torrent_fields.TORRENT_ID}">
				<td colspan="6" class="bg2">
					<table class="table2">
						<tr>
							<td class="bg1" style="text-align:center;">
								{postrow.torrent_fields.TORRENT_INFO_STAT_HEADERS}<!-- IF postrow.torrent_fields.S_HAS_TORRENT_EXPLAIN -->&nbsp;<span id="c_torrent_close">[<a onclick="javascript:toggle_block('c_torrent_stat{postrow.torrent_fields.TORRENT_ID}');" href="javascript:;" title="{L_SHOW_HIDE}">x</a>]</span><!-- ENDIF -->
								</td>
						</tr>
						<!-- IF postrow.torrent_fields.S_HAS_TORRENT_EXPLAIN -->
						<tr id="c_torrent_stat{postrow.torrent_fields.TORRENT_ID}">
							<td class="bg2">

								<!-- INCLUDE vt_torrents_explain.html -->

							</td>
						</tr>
						<!-- ENDIF -->
					</table>

				</td>
			</tr>
			<!-- ENDIF -->
			<!-- END postrow.torrent_fields -->
			</tbody>
			<!-- ENDIF -->
		</table>
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF postrow.S_TORRENT_BOTTOM_NOTICE -->
	<div class="panel" style="text-align:center;width:auto;">
		<div class="inner">
			{postrow.S_TORRENT_BOTTOM_NOTICE}
		</div>
	</div>
	<!-- ENDIF -->

<!-- ENDIF -->
