<!-- IF postrow.POSTER_POSTS != '' and S_USER_TRACKER_INFO -->
	<!-- IF S_TINFO_TORRENTSSIZES --><dd class="profile-posts"><strong>{L_USER_TORRENTS}:</strong> <a href="<!-- IF S_DISPLAY_SEARCH -->{postrow.U_USER_TORRENTS}<!-- ELSE -->#<!-- ENDIF -->">{postrow.USER_TORRENTS}</a></dd><!-- ENDIF -->
	<!-- IF S_TINFO_COMMENTS --><dd class="profile-posts"><strong>{L_USER_COMMENTS}:</strong> <a href="<!-- IF S_DISPLAY_SEARCH -->{postrow.U_USER_COMMENTS}<!-- ELSE -->#<!-- ENDIF -->">{postrow.USER_COMMENTS}</a></dd><!-- ENDIF -->

	<dd class="profile-posts"><strong>{L_USER_RATIO}:</strong> {postrow.USER_RATIO}</dd>

	<dd class="profile-posts"><strong>{L_USER_UPLOADS}:</strong> {postrow.USER_UPLOADED}</dd>
	<dd class="profile-posts"><strong>{L_USER_DOWNLOADS}:</strong> {postrow.USER_DOWNLOADED}</dd>
<!-- ENDIF -->