<!-- INCLUDE overall_header.html -->

<a id="maincontent"></a>

<h1>{L_TITLE}</h1>

<p>{L_TITLE_EXPLAIN}</p>

<!-- IF S_ERROR -->
	<div class="errorbox">
		<h3>{L_WARNING}</h3>
		<p>{ERROR_MSG}</p>
	</div>
<!-- ENDIF -->

<form id="acp_board" method="post" action="{U_ACTION}">

	<fieldset>

		<!-- IF .log -->
			<table cellspacing="1">
			<thead>
			<tr>
				<th>{L_USERNAME}</th>
		<!--		<th>{L_SORT_TTITLE}</th>-->
				<th>{L_IP}</th>
				<th>{L_SORT_DATE}</th>
				<!-- IF S_CLEARLOGS -->
					<th>{L_MARK}</th>
				<!-- ENDIF -->
			</tr>
			</thead>
			<tbody>
			<!-- BEGIN log -->
				<!-- IF log.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

					<td>{log.USERNAME}</td>
		<!--			<td>{log.TTITLE}</td>-->
					<td style="text-align: center;">{log.IP}</td>
					<td style="text-align: center;">{log.DATE}</td>
					<!-- IF S_CLEARLOGS -->
						<td style="text-align: center;"><input type="checkbox" class="radio" name="mark[]" value="{log.ID}" /></td>
					<!-- ENDIF -->
				</tr>
			<!-- END log -->
			</tbody>
			</table>

			<!-- IF .pagination or TOTAL_LOGS -->
				<div class="pagination">
					<!-- IF TOTAL_LOGS -->{TOTAL_LOGS}<!-- ENDIF -->
					<!-- IF .pagination -->
						<!-- INCLUDE pagination.html -->
					<!-- ELSE -->
						&bull; {PAGE_NUMBER}
					<!-- ENDIF -->
				</div>
			<!-- ENDIF -->

		<!-- ELSE -->
			<div class="errorbox">
				<p>{L_NO_ENTRIES}</p>
			</div>

		<!-- ENDIF -->


		<fieldset class="display-options">
			{L_DISPLAY_LOG}: &nbsp;{S_LIMIT_DAYS}&nbsp;{L_SORT_BY}: {S_SORT_KEY} {S_SORT_DIR}
			<input class="button2" type="submit" value="{L_GO}" name="sort" />
			{S_FORM_TOKEN}
		</fieldset>
		<hr />

		<!-- IF .log and S_CLEARLOGS -->
			<fieldset class="quick">
				<input class="button2" type="submit" name="delall" value="{L_DELETE_ALL}" />&nbsp;
				<input class="button2" type="submit" name="delmarked" value="{L_DELETE_MARKED}" /><br />
				<p class="small"><a href="#" onclick="marklist('acp_board', 'mark', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="marklist('acp_board', 'mark', false); return false;">{L_UNMARK_ALL}</a></p>
			</fieldset>
		<!-- ENDIF -->




	</fieldset>

	{S_HIDDEN_FIELDS}

</form>
<!-- INCLUDE overall_footer.html -->
