<!-- INCLUDE overall_header.html -->

<a id="maincontent"></a>

<h1>{L_TITLE}</h1>

<p>{L_TITLE_EXPLAIN}</p>

<!-- IF S_ERROR -->
	<div class="errorbox">
		<h3>{L_WARNING}</h3>
		<p>{ERROR_MSG}</p>
	</div>
<!-- ENDIF -->

<form id="acp_board" method="post" action="{U_ACTION}">

	<fieldset>

		<!-- IF S_VIEW_STATUS or S_NEW_STATUS -->
			<!-- IF S_VIEW_STATUS -->
			<fieldset class="submit-buttons">
				<input class="button1" type="submit" name="add_new" value="{L_ADD}" />
			</fieldset>
			<!-- ENDIF -->
			<table cellspacing="1">
			<!-- IF S_NEW_STATUS -->
			<thead>
			<tr>
				<th colspan="8">{L_ADD}</th>
			</tr>
			</thead>
			<!-- ENDIF -->
			<thead>
			<tr>
				<!-- IF not S_NEW_STATUS -->
					<th>{L_STATUS_ID}</th>
				<!-- ENDIF -->
				<th>{L_STATUS}</th>
				<th><a class="my_tt" title="{L_STATUS_MARK_EXPLAIN}">{L_STATUS_MARK}</a>, <a class="my_tt" title="{L_STATUS_REASON_EXPLAIN}">{L_STATUS_REASON}</a></th>
				<!-- IF not S_NEW_STATUS -->
					<th><a class="my_tt" title="{L_STATUS_DEF_FORB}">{L_STATUS_DEF_FORB_SHORT}</a> / <a class="my_tt" title="{L_STATUS_DEF_NOTFORB}">{L_STATUS_DEF_NOTFORB_SHORT}</a></th>
					<th><a class="my_tt" title="{L_STATUS_CANDOWN}">{L_STATUS_CANDOWN_SHORT}</a><!-- [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'author_candown', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'author_candown', false); return false;">-</a>]--></th>
					<th><a class="my_tt" title="{L_STATUS_EXCHANGE_REPLACE_EXPLAIN}">{L_STATUS_EXCHANGE_REPLACE}</a></th>
				<!-- ENDIF -->
				<th>{L_STATUS_ENABLED} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'status_enabled', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'status_enabled', false); return false;">-</a>]</th>
				<!-- IF not S_NEW_STATUS -->
					<th>{L_DELETE} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'status_delete', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'status_delete', false); return false;">-</a>]</th>
				<!-- ENDIF -->
			</tr>
			</thead>
			<tbody>
			<!-- IF .statuses -->
			<!-- BEGIN statuses -->
			<!-- IF statuses.DESCR -->
			<tr>
				<th colspan="8">{statuses.DESCR}</th>
			</tr>
			<!-- ENDIF -->
				<!-- IF statuses.ENABLED == '' and statuses.REASON --><tr class="row3"><!-- ELSE --><!-- IF statuses.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF --><!-- ENDIF -->
					<!-- IF not S_NEW_STATUS -->
						<td>{statuses.ID}</td>
					<!-- ENDIF -->
					<td>{statuses.STATUS}</td>
					<td class="row1">
						<input type="text" name="status_mark[{statuses.COUNT}]" maxlength="255" value="{statuses.MARK}" title="{L_STATUS_MARK}" style="width:98%;" /><br />
						<!-- IF statuses.LANG_MARK -->{statuses.LANG_MARK}<!-- ELSE -->&nbsp;<!-- ENDIF -->
						<div style="height:5px;"></div>
						<input type="text" name="status_reason[{statuses.COUNT}]" maxlength="255" value="{statuses.REASON}" title="{L_STATUS_REASON}" style="width:98%;" />
						<!-- IF statuses.LANG_REASON --><br />{statuses.LANG_REASON}<!-- ENDIF -->
					</td>
					<!-- IF not S_NEW_STATUS -->
						<td style="text-align:center;">
							<!-- IF statuses.COUNT -->
								<input class="radio" type="radio" name="def_forb" value="{statuses.COUNT}"{statuses.FORB} />&nbsp;/&nbsp;<input class="radio" type="radio" name="def_notforb" value="{statuses.COUNT}"{statuses.NOTFORB} />
							<!-- ENDIF -->
						</td>
						<td style="text-align:center;">
							<!-- IF statuses.CANDOWN_OPT --><label><input class="radio" type="checkbox" name="author_candown[{statuses.COUNT}]" value="1"{statuses.CANDOWN} /> - {L_STATUS_CANDOWN_AUTHOR}</label><!-- ENDIF -->
							<!-- IF statuses.GUEST_CANTDOWN_OPT --><label><input class="radio" type="checkbox" name="guest_cantdown[{statuses.COUNT}]" value="1"{statuses.GUEST_CANTDOWN} /> - {L_STATUS_CANDOWN_GUEST}</label><!-- ENDIF -->
						</td>
					<!-- ENDIF -->
					<!-- IF not S_NEW_STATUS -->
						<td><!-- IF not S_NEW_STATUS -->{statuses.EXCHANGE_FROM}&nbsp;{L_STATUS_EXCHANGE_FROM}<br />{statuses.REPLACE_FROM}&nbsp;{L_STATUS_REPLACE_FROM}<br />{statuses.EXCHANGE_REPLACE_TO}&nbsp;{L_STATUS_EXCHANGE_REPLACE_TO}<!-- ENDIF --></td>
					<!-- ENDIF -->
					<td style="text-align:center;"><input class="radio" type="checkbox" name="status_enabled[{statuses.COUNT}]" value="1"<!-- IF statuses.ID != 0 or S_NEW_STATUS -->{statuses.ENABLED}<!-- ELSE --> checked="checked" onclick="javascript:return false;"<!-- ENDIF --> title="" /></td>
					<!-- IF not S_NEW_STATUS -->
						<td style="text-align:center;">
							<!-- IF statuses.COUNT and statuses.ID != 0 -->
							<input class="radio" type="checkbox" name="status_delete[{statuses.COUNT}]" value="1" />
							<!-- ENDIF -->
							<input type="hidden" name="status_count[{statuses.COUNT}]" value="{statuses.ID}" />
						</td>
					<!-- ENDIF -->
				</tr>
			<!-- END statuses -->
			<!-- ELSE -->
			<tr>
				<td colspan="8" style="text-align:center;">{L_NO_DATA}</td>
			</tr>
			<!-- ENDIF -->
			</tbody>
			</table>
		<!-- ENDIF -->

	</fieldset>

	<fieldset>
		<legend>{L_ACP_SUBMIT_CHANGES}</legend>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		</p>
		{S_FORM_TOKEN}
	</fieldset>

	{S_HIDDEN_FIELDS}

</form>

<!-- INCLUDE overall_footer.html -->
