<!-- INCLUDE overall_header.html -->

<a id="maincontent"></a>

<!-- IF S_ERROR -->
	<div class="errorbox">
		<h3>{L_WARNING}</h3>
		<p>{ERROR_MSG}</p>
	</div>
<!-- ENDIF -->

<!-- IF S_SELECT_USER -->
	<h1>{L_TITLE}</h1>

	<p>{L_TITLE_EXPLAIN}</p>

	<form id="select_user" method="post" action="{U_ACTION}">

	<fieldset>
		<legend>{L_SELECT_USER}</legend>
	<dl>
		<dt><label for="username">{L_ENTER_USERNAME}{L_COLON}</label></dt>
		<dd><input class="text medium" type="text" id="username" name="username" /></dd>
		<dd>[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]</dd>
		<dd class="full" style="text-align: left;"><label><input type="checkbox" class="radio" id="anonymous" name="u" value="{ANONYMOUS_USER_ID}" /> {L_SELECT_ANONYMOUS}</label></dd>
	</dl>

	<p class="quick">
		<input type="submit" name="submituser" value="{L_SUBMIT}" class="button1" />
	</p>
	</fieldset>

	</form>
<!-- ELSE -->

	<a href="{U_BACK}" style="float: {S_CONTENT_FLOW_END};">&laquo; {L_BACK}</a>

	<h1>{L_USER_ADMIN} :: {MANAGED_USERNAME}</h1>

	<p>{L_USER_ADMIN_EXPLAIN}</p>

	<form id="action_select" method="post" action="{U_ACTION_SELECT}">

	<fieldset class="quick">
		{L_SELECT_FORM}{L_COLON} <select name="action" onchange="if (this.options[this.selectedIndex].value != '') this.form.submit();">{S_FORM_OPTIONS}</select> <input class="button2" type="submit" value="{L_GO}" />
		{S_FORM_TOKEN}
	</fieldset>
	</form>

	<form id="acp_board" method="post" action="{U_ACTION}">

	<!-- IF S_USER_TRACKER -->

	<fieldset>
		<legend>{L_USERDATA_USER_TRACKER}</legend>
		<dl>
			<dt><label for="tr_ratio">{L_ACP_TR_RATIO}:</label><br /><span>{L_ACP_TR_RATIO_EXPLAIN}</span></dt>
			<dd><span name="tr_ratio" id="tr_ratio">{TR_RATIO}</span></dd>
		</dl>
		<dl>
			<dt><label for="tr_up">{L_ACP_TR_UP}:</label><br /><span>{L_ACP_TR_UP_EXPLAIN}</span></dt>
			<dd><input type="text" name="tr_up" id="tr_up" value="{TR_UP}" maxlength="20" />&nbsp;<select name="tr_upv" id="tr_upv"><option value="b">{L_BYTES}</option><option value="kb">{L_KB}</option><option value="mb">{L_MB}</option><option value="gb">{L_GB}</option><option value="tb">{L_TB}</option><option value="pb">{L_PB}</option><option value="eb">{L_EB}</option></select>&nbsp;[<b>{TR_HUP}</b>]</dd>
		</dl>
		<dl>
			<dt><label for="tr_down">{L_ACP_TR_DOWN}:</label><br /><span>{L_ACP_TR_DOWN_EXPLAIN}</span></dt>
			<dd><input type="text" name="tr_down" id="tr_down" value="{TR_DOWN}" maxlength="20" />&nbsp;<select name="tr_downv" id="tr_downv"><option value="b">{L_BYTES}</option><option value="kb">{L_KB}</option><option value="mb">{L_MB}</option><option value="gb">{L_GB}</option><option value="tb">{L_TB}</option><option value="pb">{L_PB}</option><option value="eb">{L_EB}</option></select>&nbsp;[<b>{TR_HDOWN}</b>]</dd>
		</dl>
		<dl>
			<dt><label for="tr_torr">{L_ACP_TR_TORR}:</label><br /><span>{L_ACP_TR_TORR_EXPLAIN}</span></dt>
			<dd><input type="text" name="tr_torr" id="tr_torr" maxlength="8" value="{TR_TORR}" /> <a href="{U_TR_TORR}"><b>{TR_TORR}</b></a></dd>
		</dl>
		<dl>
			<dt><label for="tr_comm">{L_ACP_TR_COMM}:</label><br /><span>{L_ACP_TR_COMM_EXPLAIN}</span></dt>
			<dd><input type="text" name="tr_comm" id="tr_comm" maxlength="8" value="{TR_COMM}" /> <a href="{U_TR_COMM}"><b>{TR_COMM}</b></a></dd>
		</dl>
		<dl>
			<dt><label for="tr_passkey">{L_ACP_TR_PASSKEY}:</label><br /><span>{L_RECREATE_PASSKEY_EXPLAIN}</span></dt>
			<dd><input type="text" name="tr_passkey" id="tr_passkey" size="32" maxlength="32" value="{TR_PASSKEY}" /></dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{L_ACP_PREFS_PERSONAL}</legend>
		<dl>
			<dt><label for="recreate_passkey">{L_RECREATE_PASSKEY}: </label><br />{L_RECREATE_PASSKEY_EXPLAIN}</dt>
			<dd>
				<input type="checkbox" class="radio" name="recreate_passkey" id="recreate_passkey" value="1" />
			</dd>
		</dl>
<!--		<dl>
			<dt><label for="clear_peers">{L_TR_CLEAR_PEERS}: </label><br />{L_TR_CLEAR_PEERS_EXPLAIN}</dt>
			<dd>
				<select name="clear_peers" id="clear_peers">
					<option value="0">{L_NO}</option>
					<option value="time">{L_TR_CLEAR_PEERS_TIME}</option>
					<option value="all">{L_TR_CLEAR_PEERS_ALL}</option>
				</select>
			</dd>
		</dl>-->
		<dl>
			<dt><label for="clear_snatch">{L_TR_CLEAR_SNATCH}: </label><br />{L_TR_CLEAR_SNATCH_EXPLAIN}</dt>
			<dd>
				<input type="checkbox" class="radio" name="clear_snatch" id="clear_snatch" value="1" />
			</dd>
		</dl>
		<dl>
			<dt><label for="reset_ratio">{L_TR_RESET_RATIO}: </label><br />{L_TR_RESET_RATIO_EXPLAIN}</dt>
			<dd>
				<input type="checkbox" class="radio" name="reset_ratio" id="reset_ratio" value="1" />
			</dd>
		</dl>
	</fieldset>

	<!-- ELSEIF S_USER_TORRENTS -->
	<fieldset>
		<legend>{L_USERDATA_USER_TORRENTS}</legend>

		<div style="width:auto;overflow:auto;">
				<table class="table2">
				<tr id="torrent_stat">
					<td class="row1" style="text-align:center;">
						{TORRENT_INFO_STAT_HEADERS}<!-- IF S_HAS_TORRENT_EXPLAIN -->&nbsp;<span id="c_torrent_close">[<a onclick="javascript:toggle_block('c_torrent_stat');" href="javascript:;" title="{L_SHOW_HIDE}">x</a>]</span><!-- ENDIF -->
					</td>
				</tr>
				<!-- IF S_HAS_TORRENT_EXPLAIN -->
				<tr id="c_torrent_stat">
					<td class="row2">
							<!-- INCLUDE mua_torrents_explain.html -->
					</td>
				</tr>
				<!-- ENDIF -->
				</table>
		</div>

	</fieldset>

	<!-- ELSE -->

	<fieldset>
		<legend>{L_USERDATA_USER_RTRACKURL}</legend>

		<p>{L_ACP_ZONE_RTRACK_EXPLAIN}</p>
		<!-- IF S_VIEW_RTRACK -->
		<fieldset class="submit-buttons">
			<input class="button1" type="submit" name="add_new" value="{L_ADD}" />
		</fieldset>
		<!-- ENDIF -->
		<!-- IF .rtracks or S_NEW_RTRACK -->
		<table class="table1" width="100%">
		<thead>
			<tr>
				<th><strong>{L_ZONE_RTRACK_URL}</strong></th>
				<th style="text-align:center;"><strong>{L_ENABLED} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'rtrack_enabled', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'rtrack_enabled', false); return false;">-</a>]</strong></th>
				<th style="text-align:center;"><strong><!-- IF S_VIEW_RTRACK -->{L_DELETE} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'rtrack_delete', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'rtrack_delete', false); return false;">-</a>]<!-- ELSE -->{L_ADD}<!-- ENDIF --></strong></th>
			</tr>
		</thead>
		<tbody>
		<!-- BEGIN rtracks -->
			<tr class="<!-- IF attachrow.S_ROW_COUNT is even -->row1<!-- ELSE -->row2<!-- ENDIF -->">
				<td><input type="text" class="inputbox" name="rtrack_url[{rtracks.COUNT}]" size="40" value="{rtracks.URL}" title="" /><input type="hidden" name="rtrack_id[{rtracks.COUNT}]" value="{rtracks.COUNT}" /></td>
				<td style="text-align:center;">
					<input class="radio" type="checkbox" name="rtrack_enabled[{rtracks.COUNT}]" value="1"{rtracks.ENABLED} />
				</td>
				<td style="text-align:center;">
					<!-- IF rtracks.URL -->
					<input class="radio" type="checkbox" name="rtrack_delete[{rtracks.COUNT}]" value="1" />
					<!-- ENDIF -->
				</td>
			</tr>
		<!-- END rtracks -->
		</tbody>
		</table>
		<!-- ENDIF -->
	</fieldset>

	<!-- ENDIF -->

	{S_HIDDEN_FIELDS}
	{S_HIDDEN_FIELD}
	<input type="hidden" name="action" value="{S_ACTION}" />

	<fieldset class="quick">
		<input class="button1" type="submit" name="submit" value="{L_SUBMIT}" />
		{S_FORM_TOKEN}
	</fieldset>

	</form>

<!-- ENDIF -->


<!-- INCLUDE overall_footer.html -->
