<!-- INCLUDE overall_header.html -->

<a id="maincontent"></a>

<h1>{L_TITLE}</h1>

<p>{L_TITLE_EXPLAIN}</p>

<!-- IF S_ERROR -->
	<div class="errorbox">
		<h3>{L_WARNING}</h3>
		<p>{ERROR_MSG}</p>
	</div>
<!-- ENDIF -->

<form id="acp_board" method="post" action="{U_ACTION}">

	<fieldset>

		<!-- IF S_VIEW_TRESTRICT or S_NEW_TRESTRICT -->
			<!-- IF S_VIEW_TRESTRICT -->
			<fieldset class="submit-buttons">
				<input class="button1" type="submit" name="add_new" value="{L_ADD}" />
			</fieldset>
			<!-- ENDIF -->
			<table cellspacing="1">
			<!-- IF S_NEW_TRESTRICT -->
			<thead>
			<tr>
				<th colspan="9">{L_ADD}</th>
			</tr>
			</thead>
			<!-- ENDIF -->
			<thead>
			<tr>
				<th><span title="{L_USER_RATIO_EXPLAIN}" class="my_tt">{L_USER_RATIO}</span></th>
				<th><span title="{L_USER_UPLOAD_EXPLAIN}" class="my_tt">{L_USER_UPLOAD}</span></th>
				<th><span title="{L_USER_DOWNLOAD_EXPLAIN}" class="my_tt">{L_USER_DOWNLOAD}</span></th>
				<th><span title="{L_CAN_LEECH_EXPLAIN}" class="my_tt">{L_CAN_LEECH}</span></th>
				<th><span title="{L_WAIT_TIME_EXPLAIN}" class="my_tt">{L_WAIT_TIME}</span></th>
				<th><span title="{L_PEERS_LIMIT_EXPLAIN}" class="my_tt">{L_PEERS_LIMIT}</span></th>
				<th><span title="{L_TORRENTS_LIMIT_EXPLAIN}" class="my_tt">{L_TORRENTS_LIMIT}</span></th>
				<th><span title="{L_DAYS_LIMIT_EXPLAIN}" class="my_tt">{L_DAYS_LIMIT}</span></th>
				<th>{L_TRESTRICT_ENABLED} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'trestrict_enabled', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'trestrict_enabled', false); return false;">-</a>]</th>
				<!-- IF not S_NEW_TRESTRICT --><th>{L_DELETE} [<a title="{L_MARK_ALL}" href="#" onclick="marklist('acp_board', 'trestrict_delete', true); return false;">+</a>/<a title="{L_UNMARK_ALL}" href="#" onclick="marklist('acp_board', 'trestrict_delete', false); return false;">-</a>]</th><!-- ENDIF -->
			</tr>
			</thead>
			<tbody>
			<!-- IF .trestricts -->
			<!-- BEGIN trestricts -->
				<!-- IF trestricts.ENABLED == '' and not S_NEW_TRESTRICT --><tr class="row3"><!-- ELSE --><!-- IF trestricts.S_ROW_COUNT is even --><tr class="row1"<!-- IF trestricts.S_FORB --> style="background-color:#FFBFBF;"<!-- ENDIF -->><!-- ELSE --><tr class="row2"<!-- IF trestricts.S_FORB --> style="background-color:#FFBFBF;"<!-- ENDIF -->><!-- ENDIF --><!-- ENDIF -->
					<td><input type="text" name="trestrict_ratio[{trestricts.COUNT}]" size="6" maxlength="7" value="{trestricts.RATIO}" /></td>
					<td style="white-space:nowrap;"><input type="text" name="trestrict_upload[{trestricts.COUNT}]" size="6" maxlength="20" value="{trestricts.UPLOAD}" />&nbsp;<select name="trestrict_uploadv[{trestricts.COUNT}]">{trestricts.SIZE_VALUE}</select>&nbsp;[{trestricts.UPLOAD_VALUE}]</td>
					<td style="white-space:nowrap;"><input type="text" name="trestrict_download[{trestricts.COUNT}]" size="6"  maxlength="20" value="{trestricts.DOWNLOAD}" />&nbsp;<select name="trestrict_downloadv[{trestricts.COUNT}]">{trestricts.SIZE_VALUE}</select>&nbsp;[{trestricts.DOWNLOAD_VALUE}]</td>
					<td>{trestricts.LEECH}</td>
					<td style="white-space:nowrap;"><input type="text" name="trestrict_wait[{trestricts.COUNT}]" size="6"  maxlength="20" value="{trestricts.WAIT}" />&nbsp;<select name="trestrict_waitv[{trestricts.COUNT}]">{trestricts.TIME_VALUE}</select>&nbsp;[{trestricts.WAIT_VALUE}]&nbsp;<input class="radio" type="checkbox" name="trestrict_include[{trestricts.COUNT}]" value="1"{trestricts.INCLUDE} title="{L_INCLUDE_TORRENT_EXPLAIN}" /></td>
					<td><input type="text" name="trestrict_peers[{trestricts.COUNT}]" size="4" maxlength="4" value="{trestricts.PEERS}" /></td>
					<td><input type="text" name="trestrict_torrents[{trestricts.COUNT}]" size="4" maxlength="4" value="{trestricts.TORRENTS}" /></td>
					<td><input type="text" name="trestrict_days[{trestricts.COUNT}]" size="4" maxlength="4" value="{trestricts.DAYS}" /></td>
					<td style="text-align:center;"><input class="radio" type="checkbox" name="trestrict_enabled[{trestricts.COUNT}]" value="1"{trestricts.ENABLED} /></td>
					<!-- IF not S_NEW_TRESTRICT --><td><input class="radio" type="checkbox" name="trestrict_delete[{trestricts.COUNT}]" value="1" /></td><!-- ENDIF -->
				</tr>
				<!-- IF trestricts.STAT -->
				<!-- IF trestricts.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
					<td colspan="9"><div>{trestricts.STAT}</div></td>
				</tr>
				<!-- ENDIF -->
			<!-- END trestricts -->
			<!-- ELSE -->
			<tr>
				<td colspan="9" style="text-align:center;">{L_NO_DATA}</td>
			</tr>
			<!-- ENDIF -->
			</tbody>
			</table>
		<!-- ENDIF -->

	</fieldset>

	<fieldset>
		<legend>{L_ACP_SUBMIT_CHANGES}</legend>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		</p>
		{S_FORM_TOKEN}
	</fieldset>

	{S_HIDDEN_FIELDS}

</form>
<!-- INCLUDE overall_footer.html -->
