<script src="{TRACKER_ADDIT_JS}" type="text/javascript"></script>

<!-- IF .addit_js -->
<!-- BEGIN addit_js -->
	<!-- IF addit_js.FILE -->
	<script src="{addit_js.TRACKER_ADDIT_JS}" type="text/javascript"></script>
	<!-- ELSE -->
	{addit_js.TRACKER_ADDIT_JS}
	<!-- ENDIF -->
<!-- END addit_js -->
<!-- ENDIF -->

<!-- IF S_HAS_TORRENT_EXPLAIN -->
<script src="{XBTBB3CKER_ADDONS}js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{XBTBB3CKER_ADDONS}js/jquery.dataTables.ext.js" type="text/javascript"></script>

<script type="text/javascript">
// <![CDATA[
jQuery(document).ready(function($){
	$('#tt_info').dataTable({
		"iDisplayLength": {S_MUA_COUNTLIST_DEFAULT},
		//"bSort": false,
		"bPaginate": true,
		"sPaginationType": "full_numbers",
		"aLengthMenu": [[{S_MUA_COUNTLIST_KEYS}], [{S_MUA_COUNTLIST_VALUES}]],
		"aoColumns": [<!-- BEGIN torrent_headers -->{"sType": "num-html"}<!-- IF not torrent_headers.S_LAST_ROW -->, <!-- ENDIF --><!-- END torrent_headers -->],
		"oLanguage":
		{
			"sLengthMenu": "{L_DT_SLENGTHMENU}",
			"sZeroRecords": "{L_DT_SZERORECORDS}",
			"sInfo": "{L_DT_SINFO}",
			"sInfoEmpty": "{L_DT_SINFOEMTPY}",
			"sInfoFiltered": "{L_DT_SINFOFILTERED}",
			"sSearch": "{L_DT_SSEARCH}",
			"oPaginate":
			{
				"sNext": "{L_DT_SNEXT}",
				"sPrevious": "{L_DT_SPREVIOUS}",
				"sFirst": "{L_DT_SFIRST}",
				"sLast": "{L_DT_SLAST}"
			}
		}
	});
});
function fnShowHide( iCol )
{
	var oTable = jQuery('#tt_info').dataTable();
	var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
	oTable.fnSetColumnVis( iCol, bVis ? false : true );
}
// ]]>
</script>
<!-- ENDIF -->