<script type="text/javascript">
// <![CDATA[
jQuery(document).ready(function($){
	$(".phpbb_alert").css({
		'width': '620px',
		'height': 'auto'
	});
});
// ]]>
</script>

<!-- IF S_SET_STATUS -->
<form id="tracker_ajax" action="{S_CONFIRM_ACTION}" method="post">

<div>
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{MESSAGE_TEXT}</h3>
			<table class="table2" width="100%">
				<tr class="bg1">
					<td><label for="status_value">{L_TORRENT_STATUS}{L_COLON}</label></td><td><select name="status_value" id="status_value">{STATUSES_SELECT}</select></td>
				</tr>
				<tr class="bg1">
					<td><label for="status_reason">{L_STATUS_REASON}{L_COLON}</label></td><td><input type="text" maxlength="255" name="status_reason" id="status_reason" value="{STATUS_REASON}" class="inputbox autowidth" size="25" /></td>
				</tr>
				<tr class="bg1">
					<td><label for="post_edit_locked">{L_LOCK_POST} [{L_LOCK_POST_EXPLAIN}]{L_COLON}</label></td><td><input type="checkbox" name="post_edit_locked" id="post_edit_locked" value="1"{STATUS_EDIT_LOCKED} /></td>
				</tr>
				<tr class="bg1">
					<td><label for="topic_closed">{L_LOCK_TOPIC}{L_COLON}</label></td><td><input type="checkbox" name="topic_closed" id="topic_closed" value="1"{STATUS_CLOSED} /></td>
				</tr>
			</table>

			<fieldset class="submit-buttons">
				<input type="button" name="confirm" value="{L_YES}" class="button1" />&nbsp;
				<input type="button" name="cancel" value="{L_NO}" class="button2" />
			</fieldset>

		<span class="corners-bottom"><span></span></span>
	</div>
</div>

</form>
<!-- ENDIF -->

<!-- IF S_SET_REQUPRATIO -->
<form id="tracker_ajax" action="{S_CONFIRM_ACTION}" method="post">

<div>
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{MESSAGE_TEXT}</h3>
			<table class="table2" width="100%">
				<tr class="bg1">
					<td><label for="torrent_reqratio">{L_TORRENT_REQRATIO}{L_COLON}</label></td><td><input class="inputbox autowidth" type="text" name="torrent_reqratio" id="torrent_reqratio" size="5" maxlength="5" value="{TORRENT_REQRATIO_VAL}" />&nbsp;{L_TRACKER_RATIO_ANNOT}</td>
				</tr>
				<tr class="bg1">
					<td><label for="torrent_requpload">{L_TORRENT_REQUPLOAD}{L_COLON}</label></td><td><input class="inputbox autowidth" type="text" name="torrent_requpload" id="torrent_requpload" size="16" maxlength="32" value="{TORRENT_REQUPLOAD_VAL}" />&nbsp;<select name="torrent_requploadv">{FORM_SIZE_VALUE}</select>&nbsp;[<b>{TORRENT_REQUPLOAD_VALUE}</b>]</td>
				</tr>
			</table>

			<fieldset class="submit-buttons">
				<input type="button" name="confirm" value="{L_YES}" class="button1" />&nbsp;
				<input type="button" name="cancel" value="{L_NO}" class="button2" />
			</fieldset>

		<span class="corners-bottom"><span></span></span>
	</div>
</div>

</form>
<!-- ENDIF -->

<!-- IF S_BOOKMARKS -->
<form id="tracker_ajax" action="{S_CONFIRM_ACTION}" method="post">

<div>
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{MESSAGE_TEXT}</h3>
			<table class="table2" width="100%">
				<tr class="bg1">
					<td><strong>{L_FILENAME}</strong></td>
					<td style="text-align:center;">{L_ADD_BOOKMARKS}</td>
				</tr>
				<!-- BEGIN bookmarks -->
				<!-- IF bookmarks.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg1"><!-- ENDIF -->
					<td>{bookmarks.FILENAME}</td>
					<td style="text-align:center;"><input class="radio" type="checkbox" name="add_bookmark[]" value="{bookmarks.ID}"<!-- IF bookmarks.CHECKED --> checked="checked"<!-- ENDIF --> /></td>
				</tr>
				<!-- END bookmarks -->
				<tr class="bg1">
					<td colspan="2" style="text-align:right;"><p class="small"><a href="#" onclick="marklist('tracker_ajax', 'add_bookmark', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="marklist('tracker_ajax', 'add_bookmark', false); return false;">{L_UNMARK_ALL}</a></p></td>
				</tr>
			</table>

			<fieldset class="submit-buttons">
				<input type="button" name="confirm" value="{L_YES}" class="button1" />&nbsp;
				<input type="button" name="cancel" value="{L_NO}" class="button2" />
			</fieldset>

		<span class="corners-bottom"><span></span></span>
	</div>
</div>

</form>
<!-- ENDIF -->

<!-- IF S_VT_STAT or S_MUA_STAT -->
<link rel="stylesheet" href="{TRACKER_EXT_PATH}{XBTBB3CKER_ADDONS}css/jquery.dataTables.css" type="text/css" />

<script src="{TRACKER_EXT_PATH}{XBTBB3CKER_ADDONS}js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{TRACKER_EXT_PATH}{XBTBB3CKER_ADDONS}js/jquery.dataTables.ext.js" type="text/javascript"></script>

<script type="text/javascript">
// <![CDATA[
jQuery(document).ready(function($){
	$(".phpbb_alert").css({
		'width': '75%',
		'height': '430px'
	});

	$('#tt_info').dataTable({
		"iDisplayLength": {S_MUA_COUNTLIST_DEFAULT},
		//"bSort": false,
		"bPaginate": true,
		"sPaginationType": "full_numbers",
		"aLengthMenu": [[{S_MUA_COUNTLIST_KEYS}], [{S_MUA_COUNTLIST_VALUES}]],
		"aoColumns": [<!-- BEGIN torrent_headers -->{"sType": "num-html"}<!-- IF not torrent_headers.S_LAST_ROW -->, <!-- ENDIF --><!-- END torrent_headers -->],
// 		"scrollY": "200px",
// 		"scrollCollapse": true,
// 		"scroller": true,
		"oLanguage":
		{
			"sLengthMenu": "{L_DT_SLENGTHMENU}",
			"sZeroRecords": "{L_DT_SZERORECORDS}",
			"sInfo": "{L_DT_SINFO}",
			"sInfoEmpty": "{L_DT_SINFOEMTPY}",
			"sInfoFiltered": "{L_DT_SINFOFILTERED}",
			"sSearch": "{L_DT_SSEARCH}",
			"oPaginate":
			{
				"sNext": "{L_DT_SNEXT}",
				"sPrevious": "{L_DT_SPREVIOUS}",
				"sFirst": "{L_DT_SFIRST}",
				"sLast": "{L_DT_SLAST}"
			}
		}
	});
	$(".vt_pg").bind("click", function(e){
		$("#vt_stat").html('<div style="text-align:center;padding-top:50px;"><img src="{TRACKER_EXT_PATH}{XBTBB3CKER_ADDONS}images/preloader.gif" alt="" /></div>');
		$("#vt_stat").load($(this).attr('data-href'));
	});


});
function fnShowHide( iCol )
{
	var oTable = jQuery('#tt_info').dataTable();
	var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
	oTable.fnSetColumnVis( iCol, bVis ? false : true );
}
// ]]>
</script>

<form id="tracker_ajax" action="{S_CONFIRM_ACTION}" method="post">

<div id="vt_stat">
	<h3>{MESSAGE_TEXT}</h3>
	<div style="height:380px;overflow:auto;">
		<!-- INCLUDE vt_torrents_explain.html -->
	</div>
</div>

{S_HIDDEN_FIELDS}

</form>

<!-- ENDIF -->


