<script type="text/javascript">
// <![CDATA[
jQuery(document).ready(function($){
	$('#tt_info').dataTable({
		"iDisplayLength": {S_MUA_COUNTLIST_DEFAULT},
		//"bSort": false,
		"bPaginate": true,
		"sPaginationType": "full_numbers",
		"aLengthMenu": [[{S_MUA_COUNTLIST}], [{S_MUA_COUNTLIST}]],
		"aoColumns": [<!-- BEGIN headers -->{"sType": "num-html"}<!-- IF not headers.S_LAST_ROW -->, <!-- ENDIF --><!-- END headers -->],
		"oLanguage":
		{
			"sLengthMenu": "{L_DT_SLENGTHMENU}",
			"sZeroRecords": "{L_DT_SZERORECORDS}",
			"sInfo": "{L_DT_SINFO}",
			"sInfoEmpty": "{L_DT_SINFOEMTPY}",
			"sInfoFiltered": "{L_DT_SINFOFILTERED}",
			"sSearch": "{L_DT_SSEARCH}",
			"oPaginate":
			{
				"sNext": "{L_DT_SNEXT}",
				"sPrevious": "{L_DT_SPREVIOUS}",
				"sFirst": "{L_DT_SFIRST}",
				"sLast": "{L_DT_SLAST}"
			}
		}
	});
});
function fnShowHide( iCol )
{
	var oTable = jQuery('#tt_info').dataTable();
	var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
	oTable.fnSetColumnVis( iCol, bVis ? false : true );
}
// ]]>
</script>


<table class="table2 stripe hover order-column" id="tt_info">
<thead>
<tr>
	{S_TORRENT_HEADER}
</tr>
</thead>
<tbody>

<!-- IF S_HAS_TORRENT_EXPLAIN_TORRENT -->

<!-- BEGIN torrent_option -->
<!-- IF torrent_option.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
	<td><span style="display:none;">{torrent_option.TORRENT_CNAME}</span><!-- IF torrent_option.TORRENT_URL --><a href="{torrent_option.TORRENT_URL}" class="topic_title">{torrent_option.TORRENT_NAME}</a><!-- ELSE -->{torrent_option.TORRENT_NAME}<!-- ENDIF --></td>
	<td><span style="display:none;">{torrent_option.TORRENT_BUP}</span>{torrent_option.TORRENT_UP}</td>
	<td><span style="display:none;">{torrent_option.TORRENT_BDOWN}</span>{torrent_option.TORRENT_DOWN}</td>
	<td><span style="display:none;">{torrent_option.TORRENT_RATIO}</span>{torrent_option.TORRENT_RATIO}</td>
	<td><span style="display:none;">{torrent_option.TORRENT_COMPLETED}</span>{torrent_option.TORRENT_COMPLETED}<!-- IF torrent_option.TORRENT_COMPLETED != '' -->%<!-- ENDIF --></td>
	<td><span style="display:none;">{torrent_option.TORRENT_ACTIVE}</span>{torrent_option.TORRENT_ACTIVE}</td>
	<!-- IF S_IS_ADMOD or S_FROM_UCP  --><td><span style="display:none;">{torrent_option.TORRENT_SLAST}</span>{torrent_option.TORRENT_LAST}</td>
	<td><span style="display:none;">{torrent_option.TORRENT_ANNCOUNT}</span>{torrent_option.TORRENT_ANNCOUNT}</td><!-- ENDIF -->
</tr>
<!-- END torrent_option -->
<!-- ENDIF -->

<!-- IF S_HAS_TORRENT_EXPLAIN_FINISHED -->
<!-- BEGIN finished_option -->
<!-- IF finished_option.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
	<td><span style="display:none;">{finished_option.TORRENT_CNAME}</span><!-- IF finished_option.TORRENT_URL --><a href="{finished_option.TORRENT_URL}" class="topic_title">{finished_option.TORRENT_NAME}</a><!-- ELSE -->{finished_option.TORRENT_NAME}<!-- ENDIF --></td>
	<td><span style="display:none;">{finished_option.TORRENT_BUP}</span>{finished_option.TORRENT_UP}</td>
	<td><span style="display:none;">{finished_option.TORRENT_BDOWN}</span>{finished_option.TORRENT_DOWN}</td>
	<td><span style="display:none;">{finished_option.TORRENT_ACTIVE}</span>{finished_option.TORRENT_ACTIVE}</td>
	<td><span style="display:none;">{finished_option.TORRENT_RATIO}</span>{finished_option.TORRENT_RATIO}</td>
	<!-- IF S_IS_ADMOD or S_FROM_UCP  --><td><span style="display:none;">{finished_option.TORRENT_SLAST}</span>{finished_option.TORRENT_LAST}</td>
	<td><span style="display:none;">{finished_option.TORRENT_ANNCOUNT}</span>{finished_option.TORRENT_ANNCOUNT}</td><!-- ENDIF -->
	<td><span style="display:none;">{finished_option.TORRENT_COMPLETED}</span>{finished_option.TORRENT_COMPLETED}<!-- IF finished_option.TORRENT_COMPLETED != '' -->%<!-- ENDIF --></td>
</tr>
<!-- END finished_option -->
<!-- ENDIF -->

<!-- IF S_HAS_TORRENT_EXPLAIN_SEED -->
<!-- BEGIN seed_option -->
<!-- IF seed_option.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
	<td><span style="display:none;">{seed_option.TORRENT_CNAME}</span><!-- IF seed_option.TORRENT_URL --><a href="{seed_option.TORRENT_URL}" class="topic_title">{seed_option.TORRENT_NAME}</a><!-- ELSE -->{seed_option.TORRENT_NAME}<!-- ENDIF --></td>
	<td><span style="display:none;">{seed_option.TORRENT_BUP}</span>{seed_option.TORRENT_UP}</td>
	<td><span style="display:none;">{seed_option.TORRENT_BDOWN}</span>{seed_option.TORRENT_DOWN}</td>
	<td><span style="display:none;">{seed_option.TORRENT_RATIO}</span>{seed_option.TORRENT_RATIO}</td>
	<!-- IF S_IS_ADMOD or S_FROM_UCP  --><td><span style="display:none;">{seed_option.TORRENT_SLAST}</span>{seed_option.TORRENT_LAST}</td>
	<td><span style="display:none;">{seed_option.TORRENT_ANNCOUNT}</span>{seed_option.TORRENT_ANNCOUNT}</td><!-- ENDIF -->
	<td><span style="display:none;">{seed_option.TORRENT_COMPLETED}</span>{seed_option.TORRENT_COMPLETED}<!-- IF seed_option.TORRENT_COMPLETED != '' -->%<!-- ENDIF --></td>
</tr>
<!-- END seed_option -->
<!-- ENDIF -->

<!-- IF S_HAS_TORRENT_EXPLAIN_LEECH -->
<!-- BEGIN leech_option -->
<!-- IF leech_option.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
	<td><span style="display:none;">{leech_option.TORRENT_CNAME}</span><!-- IF leech_option.TORRENT_URL --><a href="{leech_option.TORRENT_URL}" class="topic_title">{leech_option.TORRENT_NAME}</a><!-- ELSE -->{leech_option.TORRENT_NAME}<!-- ENDIF --></td>
	<td><span style="display:none;">{leech_option.TORRENT_BUP}</span>{leech_option.TORRENT_UP}</td>
	<td><span style="display:none;">{leech_option.TORRENT_BDOWN}</span>{leech_option.TORRENT_DOWN}</td>
	<td><span style="display:none;">{leech_option.TORRENT_RATIO}</span>{leech_option.TORRENT_RATIO}</td>
	<!-- IF S_IS_ADMOD or S_FROM_UCP  --><td><span style="display:none;">{leech_option.TORRENT_SLAST}</span>{leech_option.TORRENT_LAST}</td>
	<td><span style="display:none;">{leech_option.TORRENT_ANNCOUNT}</span>{leech_option.TORRENT_ANNCOUNT}</td><!-- ENDIF -->
	<td><span style="display:none;">{leech_option.TORRENT_COMPLETED}</span>{leech_option.TORRENT_COMPLETED}<!-- IF leech_option.TORRENT_COMPLETED != '' -->%<!-- ENDIF --></td>
</tr>
<!-- END leech_option -->
<!-- ENDIF -->

<!-- IF S_HAS_TORRENT_EXPLAIN_DOWNLOADS -->
<!-- BEGIN downloads_option -->
<!-- IF downloads_option.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
	<td><span style="display:none;">{downloads_option.TORRENT_CUSER}</span>{downloads_option.TORRENT_USER}</td>
	<td><span style="display:none;">{downloads_option.TORRENT_CNAME}</span><!-- IF downloads_option.TORRENT_URL --><a href="{downloads_option.TORRENT_URL}" class="topic_title">{downloads_option.TORRENT_NAME}</a><!-- ELSE -->{downloads_option.TORRENT_NAME}<!-- ENDIF --></td>
	<td><span style="display:none;">{downloads_option.TORRENT_BUP}</span>{downloads_option.TORRENT_UP}</td>
	<td><span style="display:none;">{downloads_option.TORRENT_BDOWN}</span>{downloads_option.TORRENT_DOWN}</td>
	<td><span style="display:none;">{downloads_option.TORRENT_COMPLETED}</span>{downloads_option.TORRENT_COMPLETED}<!-- IF downloads_option.TORRENT_COMPLETED != '' -->%<!-- ENDIF --></td>
	<td><span style="display:none;">{downloads_option.TORRENT_ACTIVE}</span>{downloads_option.TORRENT_ACTIVE}</td>
	<!-- IF S_IS_ADMOD or S_FROM_UCP  --><td><span style="display:none;">{downloads_option.TORRENT_SLAST}</span>{downloads_option.TORRENT_LAST}</td>
	<td><span style="display:none;">{downloads_option.TORRENT_ANNCOUNT}</span>{downloads_option.TORRENT_ANNCOUNT}</td><!-- ENDIF -->
	<td><span style="display:none;">{downloads_option.TORRENT_RATIO}</span>{downloads_option.TORRENT_RATIO}</td>
	<td><span style="display:none;">{downloads_option.TORRENT_SDOWNLOADED}</span>{downloads_option.TORRENT_DOWNLOADED}</td>
</tr>
<!-- END downloads_option -->
<!-- ENDIF -->

<!-- IF S_HAS_TORRENT_EXPLAIN_HISTORY -->
<!-- BEGIN history_option -->
<!-- IF history_option.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
	<td><span style="display:none;">{history_option.TORRENT_CNAME}</span><!-- IF history_option.TORRENT_URL --><a href="{history_option.TORRENT_URL}" class="topic_title">{history_option.TORRENT_NAME}</a><!-- ELSE -->{history_option.TORRENT_NAME}<!-- ENDIF --></td>
	<td><span style="display:none;">{history_option.TORRENT_BUP}</span>{history_option.TORRENT_UP}</td>
	<td><span style="display:none;">{history_option.TORRENT_BDOWN}</span>{history_option.TORRENT_DOWN}</td>
	<td><span style="display:none;">{history_option.TORRENT_COMPLETED}</span>{history_option.TORRENT_COMPLETED}<!-- IF history_option.TORRENT_COMPLETED != '' -->%<!-- ENDIF --></td>
	<td><span style="display:none;">{history_option.TORRENT_ACTIVE}</span>{history_option.TORRENT_ACTIVE}</td>
	<!-- IF S_IS_ADMOD or S_FROM_UCP  --><td><span style="display:none;">{history_option.TORRENT_SLAST}</span>{history_option.TORRENT_LAST}</td>
	<td><span style="display:none;">{history_option.TORRENT_ANNCOUNT}</span>{history_option.TORRENT_ANNCOUNT}</td><!-- ENDIF -->
	<td><span style="display:none;">{history_option.TORRENT_RATIO}</span>{history_option.TORRENT_RATIO}</td>
</tr>
<!-- END history_option -->
<!-- ENDIF -->

<!-- IF S_HAS_TORRENT_EXPLAIN_LEAVE -->
<!-- BEGIN leave_option -->
<!-- IF leave_option.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
	<td><span style="display:none;">{leave_option.TORRENT_CNAME}</span><!-- IF leave_option.TORRENT_URL --><a href="{leave_option.TORRENT_URL}" class="topic_title">{leave_option.TORRENT_NAME}</a><!-- ELSE -->{leave_option.TORRENT_NAME}<!-- ENDIF --></td>
	<td><span style="display:none;">{leave_option.TORRENT_BUP}</span>{leave_option.TORRENT_UP}</td>
	<td><span style="display:none;">{leave_option.TORRENT_BDOWN}</span>{leave_option.TORRENT_DOWN}</td>
	<td><span style="display:none;">{leave_option.TORRENT_COMPLETED}</span>{leave_option.TORRENT_COMPLETED}<!-- IF leave_option.TORRENT_COMPLETED != '' -->%<!-- ENDIF --></td>
	<td><span style="display:none;">{leave_option.TORRENT_ACTIVE}</span>{leave_option.TORRENT_ACTIVE}</td>
	<!-- IF S_IS_ADMOD or S_FROM_UCP  --><td><span style="display:none;">{leave_option.TORRENT_SLAST}</span>{leave_option.TORRENT_LAST}</td>
	<td><span style="display:none;">{leave_option.TORRENT_ANNCOUNT}</span>{leave_option.TORRENT_ANNCOUNT}</td><!-- ENDIF -->
	<td><span style="display:none;">{leave_option.TORRENT_RATIO}</span>{leave_option.TORRENT_RATIO}</td>
</tr>
<!-- END leave_option -->
<!-- ENDIF -->

<!-- IF S_HAS_TORRENT_EXPLAIN_BOOKMARKS -->
<!-- BEGIN bookmarks_option -->
<!-- IF bookmarks_option.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
	<td><span style="display:none;">{bookmarks_option.TORRENT_CNAME}</span><!-- IF bookmarks_option.TORRENT_BOOKMARKDEL --> <span style="color:#FF0000">{L_TORRENT_FINISHED}</span>: <!-- ENDIF --><!-- IF bookmarks_option.TORRENT_URL --><a href="{bookmarks_option.TORRENT_URL}" class="topic_title">{bookmarks_option.TORRENT_NAME}</a><!-- IF bookmarks_option.TORRENT_FNAME --> <strong>&raquo;</strong> <a href="{bookmarks_option.TORRENT_FURL}">{bookmarks_option.TORRENT_FNAME}</a><!-- ENDIF --><!-- ELSE -->{bookmarks_option.TORRENT_NAME}<!-- ENDIF --></td>
	<td><span style="display:none;">{bookmarks_option.TORRENT_BUP}</span>{bookmarks_option.TORRENT_UP}</td>
	<td><span style="display:none;">{bookmarks_option.TORRENT_BDOWN}</span>{bookmarks_option.TORRENT_DOWN}</td>
	<td><span style="display:none;">{bookmarks_option.TORRENT_COMPLETED}</span>{bookmarks_option.TORRENT_COMPLETED}<!-- IF bookmarks_option.TORRENT_COMPLETED != '' -->%<!-- ENDIF --></td>
	<td><span style="display:none;">{bookmarks_option.TORRENT_ACTIVE}</span>{bookmarks_option.TORRENT_ACTIVE}</td>
	<!-- IF S_IS_ADMOD or S_FROM_UCP  --><td><span style="display:none;">{bookmarks_option.TORRENT_SLAST}</span>{bookmarks_option.TORRENT_LAST}</td>
	<td><span style="display:none;">{bookmarks_option.TORRENT_ANNCOUNT}</span>{bookmarks_option.TORRENT_ANNCOUNT}</td><!-- ENDIF -->
	<td><span style="display:none;">{bookmarks_option.TORRENT_RATIO}</span>{bookmarks_option.TORRENT_RATIO}</td>
	<td><span style="display:none;">{bookmarks_option.TORRENT_SADDDATE}</span>{bookmarks_option.TORRENT_ADDDATE}</td>
</tr>
<!-- END bookmarks_option -->
<!-- ENDIF -->

</tbody>
</table>

<!-- IF S_TORRENT_FOOTER -->
<table width="100%">
<tr>
	<td class="bg1" style="text-align:center;"><strong>{L_DT_HIDE}</strong>: {S_TORRENT_FOOTER}</td>
</tr>
</table>
<!-- ENDIF -->

