<!-- INCLUDE overall_header.html -->

<h2>{LNG_TRTOP}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{LNG_TOP_BY_UPLOAD}</h3>
	<table class="table2">
		<tr class="bg2">
			<td style="width:30px;">#</td>
			<td><b>{L_USERNAME}</b></td>
			<td style="text-align:center;"><b>{L_TORRENT_INFO_HEADER_UPLOADED}</b></td>
			<td style="text-align:center;"><b>{L_TORRENT_INFO_HEADER_DOWNLOADED}</b></td>
			<td style="text-align:center;"><b>{L_TORRENT_INFO_HEADER_RATIO}</b></td>
		</tr>
		<!-- IF .top_upload -->
			<!-- BEGIN top_upload -->
			<!-- IF top_upload.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
				<td style="text-align:center;">{top_upload.ROW_NUMBER}</td>
				<td>{top_upload.USERNAME}</td>
				<td style="text-align:center;">{top_upload.UP}</td>
				<td style="text-align:center;">{top_upload.DOWN}</td>
				<td style="text-align:center;">{top_upload.UP_DOWN_RATIO}</td>
			</tr>
			<!-- END top_upload -->
		<!-- ELSE -->
			<tr>
				<td colspan="5" class="error" style="text-align:center;">{L_NO_DATA}</td>
			</tr>
		<!-- ENDIF -->
	</table>
	<div class="clear" style="margin-bottom:30px;"></div>

	<h3>{LNG_TOP_BY_RATIO}</h3>
	<table class="table2">
		<tr class="bg2">
			<td style="width:30px;">#</td>
			<td><b>{L_USERNAME}</b></td>
			<td style="text-align:center;"><b>{L_TORRENT_INFO_HEADER_UPLOADED}</b></td>
			<td style="text-align:center;"><b>{L_TORRENT_INFO_HEADER_DOWNLOADED}</b></td>
			<td style="text-align:center;"><b>{L_TORRENT_INFO_HEADER_RATIO}</b></td>
		</tr>
		<!-- IF .top_ratio -->
			<!-- BEGIN top_ratio -->
			<!-- IF top_ratio.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
				<td style="text-align:center;">{top_ratio.ROW_NUMBER}</td>
				<td>{top_ratio.USERNAME}</td>
				<td style="text-align:center;">{top_ratio.UP}</td>
				<td style="text-align:center;">{top_ratio.DOWN}</td>
				<td style="text-align:center;">{top_ratio.UP_DOWN_RATIO}</td>
			</tr>
			<!-- END top_ratio -->
		<!-- ELSE -->
			<tr>
				<td colspan="5" class="error" style="text-align:center;">{L_NO_DATA}</td>
			</tr>
		<!-- ENDIF -->
	</table>
	<div class="clear" style="margin-bottom:30px;"></div>

	<h3>{LNG_TOP_BY_DOWNSUM}</h3>
	<table class="table2">
		<tr class="bg2">
			<td style="width:30px;">#</td>
			<td><b>{L_USERNAME}</b></td>
			<td><b>{L_JOINED}</b></td>
			<td style="text-align:center;"><b>{L_TRACKER_USER_TORRENTS}</b></td>
			<td style="text-align:center;"><b>{L_AUTHOR_TORRENT_COMPLETED}</b></td>
			<td style="text-align:center;"><b>{L_TRACKER_AVG}</b></td>
		</tr>
 		<!-- IF .top_downsum -->
			<!-- BEGIN top_downsum -->
			<!-- IF top_downsum.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
				<td style="text-align:center;">{top_downsum.ROW_NUMBER}</td>
				<td>{top_downsum.USERNAME}</td>
				<td>{top_downsum.JOINED}</td>
				<td style="text-align:center;">{top_downsum.RELEASES}</td>
				<td style="text-align:center;">{top_downsum.DL_COUNT}</td>
				<td style="text-align:center;">{top_downsum.DL_AVG}</td>
			</tr>
			<!-- END top_downsum -->
		<!-- ELSE -->
			<tr>
				<td colspan="6" class="error" style="text-align:center;">{L_NO_DATA}</td>
			</tr>
		<!-- ENDIF -->
	</table>
	<div class="clear" style="margin-bottom:30px;"></div>

	<!-- IF TOP_BY_AUTHOR -->
	<h3>{LNG_TOP_BY_AUTHOR}</h3>
	<table class="table2">
		<tr class="bg2">
			<td style="width:30px;">#</td>
			<td><b>{L_USERNAME}</b></td>
			<td><b>{L_JOINED}</b></td>
			<td style="text-align:center;"><b>{L_TRACKER_USER_TORRENTS}</b></td>
			<td style="text-align:center;"><b>{L_AUTHOR_TORRENT_COMPLETED}</b></td>
		</tr>
		<!-- IF .top_author -->
			<!-- BEGIN top_author -->
			<!-- IF top_author.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
				<td style="text-align:center;">{top_author.ROW_NUMBER}</td>
				<td>{top_author.USERNAME}</td>
				<td>{top_author.JOINED}</td>
				<td style="text-align:center;">{top_author.RELEASES}</td>
				<td style="text-align:center;">{top_author.DL_COUNT}</td>
			</tr>
			<!-- END top_author -->
		<!-- ELSE -->
			<tr>
				<td colspan="5" class="error" style="text-align:center;">{L_NO_DATA}</td>
			</tr>
		<!-- ENDIF -->
	</table>
	<!-- ENDIF -->
	<div class="clear" style="margin-bottom:30px;"></div>

	<a name="bt"></a>
	<table width="100%">
		<tr>
			<td><h3>{LNG_TOP_BY_TORRENTS}</h3></td><td align="right"><strong>{L_TOP_BY}:</strong> <a href="{U_TOP_WEEK}#bt">{LNG_TOP_WEEK}</a> <a href="{U_TOP_MONTH}#bt">{LNG_TOP_MONTH}</a> <a href="{U_TOP_ALL}#bt">{LNG_TOP_ALL}</a></td>
		</tr>
	</table>
	<table class="table2">
		<tr class="bg2">
			<td style="width:30px;">#</td>
			<td><b>{L_AUTHOR}</b></td>
			<td><b>{L_TOPIC}</b></td>
			<td><b>{L_FORUM}</b></td>
			<td style="text-align:center;"><b>{L_TORRENT_COMPLETED}</b></td>
			<td><b>{L_TORRENT_ADDED}</b></td>
		</tr>
		<!-- IF .top_torrents -->
			<!-- BEGIN top_torrents -->
			<!-- IF top_torrents.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
				<td style="text-align:center;">{top_torrents.ROW_NUMBER}</td>
				<td>{top_torrents.USERNAME}</td>
				<td align="left"><a href="{top_torrents.TOPIC_HREF}">{top_torrents.TOPIC_TITLE}</a></td>
				<td><a href="{top_torrents.FORUM_HREF}">{top_torrents.FORUM_NAME}</a></td>
				<td style="text-align:center;">{top_torrents.COMPLETE_COUNT}</td>
				<td>{top_torrents.REG_TIME}</td>
			</tr>
			<!-- END top_torrents -->
			<!-- ELSE -->
			<tr>
				<td colspan="6" class="error" style="text-align:center;">{L_NO_DATA}</td>
			</tr>
		<!-- ENDIF -->
	</table>
	<div class="clear" style="margin-bottom:30px;"></div>

	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE overall_footer.html -->
