<!-- IF TOPDOWN_TORRENTS_POSTERS and TDT_ID != '_p' -->
<div class="panel" style="margin-top:5px;">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{S_TOPDOWN_TORRENTS}</h3>
			<table cellspacing="1" width="100%" border="0">
				<tr class="row1">
					<td style="padding:5px;width:100%;text-align:center;">
						<div class="stepcarousel" id="gallerya{TDT_ID}"><div class="belt"></div></div>
					</td>
				</tr>
			</table>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ENDIF -->
