<!-- INCLUDE ucp_header.html -->
<h2>{L_TITLE}</h2>

<div class="panel" style="width:auto;overflow:auto;">
	<div class="inner"><span class="corners-top"><span></span></span>

		<table class="table2">
		<!-- IF ERROR -->
			<tr class="bg2">
				<td style="text-align:center;"><span class="genmed error">{ERROR}</span></td>
			</tr>
		<!-- ENDIF -->
		<tr id="torrent_stat">
			<td class="bg1" style="text-align:center;">
				{TORRENT_INFO_STAT_HEADERS}<!-- IF S_HAS_TORRENT_EXPLAIN -->&nbsp;<span id="c_torrent_close">[<a onclick="javascript:toggle_block('c_torrent_stat');" href="javascript:;" title="{L_SHOW_HIDE}">x</a>]</span><!-- ENDIF -->
			</td>
		</tr>
		<!-- IF S_HAS_TORRENT_EXPLAIN -->
		<tr id="c_torrent_stat">
			<td class="bg2">
					<!-- INCLUDE mua_torrents_explain.html -->
			</td>
		</tr>
		<!-- ENDIF -->
		</table>

	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE ucp_footer.html -->
