<!-- INCLUDE ucp_header.html -->
<h2>{L_TITLE}</h2>

<form id="ucp" method="post" action="{S_UCP_ACTION}">

<div class="panel">
	<div class="inner">
	<fieldset>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	<!-- IF S_VIEW_RTRACK or S_NEW_RTRACK -->
		<p>{L_ZONE_RTRACK_EXPLAIN}</p>
		<!-- IF S_VIEW_RTRACK -->
		<fieldset class="submit-buttons">
			<input class="button1" type="submit" name="add_new" value="{L_ADD}" />
		</fieldset>
		<!-- ENDIF -->
		<!-- IF .rtracks or S_NEW_RTRACK -->
		<table class="table1" width="100%">
		<thead>
			<tr>
				<th style="text-align:left">{L_ZONE_RTRACK_URL}</th>
				<th>{L_ENABLED} [<a style="color:#000000;" title="{L_MARK_ALL}" href="#" onclick="marklist('ucp', 'rtrack_enabled', true); return false;">+</a>/<a style="color:#000000;" title="{L_UNMARK_ALL}" href="#" onclick="marklist('ucp', 'rtrack_enabled', false); return false;">-</a>]</th>
				<th><!-- IF S_VIEW_RTRACK -->{L_DELETE} [<a style="color:#000000;" title="{L_MARK_ALL}" href="#" onclick="marklist('ucp', 'rtrack_delete', true); return false;">+</a>/<a style="color:#000000;" title="{L_UNMARK_ALL}" href="#" onclick="marklist('ucp', 'rtrack_delete', false); return false;">-</a>]<!-- ELSE -->{L_ADD}<!-- ENDIF --></th>
			</tr>
		</thead>
		<tbody>
		<!-- BEGIN rtracks -->
			<tr class="<!-- IF attachrow.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
				<td><input type="text" class="inputbox" name="rtrack_url[{rtracks.COUNT}]" size="40" value="{rtracks.URL}" title="" /><input type="hidden" name="rtrack_id[{rtracks.COUNT}]" value="{rtracks.COUNT}" /></td>
				<td style="text-align:center;">
					<input type="checkbox" name="rtrack_enabled[{rtracks.COUNT}]" value="1"{rtracks.ENABLED} />
				</td>
				<td style="text-align:center;">
					<!-- IF rtracks.URL -->
					<input type="checkbox" name="rtrack_delete[{rtracks.COUNT}]" value="1" />
					<!-- ENDIF -->
				</td>
			</tr>
		<!-- END rtracks -->
		</tbody>
		</table>
		<!-- ENDIF -->
	<!-- ELSE -->
	{L_RTRACK_DISABLED}
	<!-- ENDIF -->
	</fieldset>
	</div>
</div>
<!-- IF (S_VIEW_RTRACK or S_NEW_RTRACK) and .rtracks -->
<fieldset class="submit-buttons">
	{S_HIDDEN_FIELD}{S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
	{S_FORM_TOKEN}
</fieldset>
<!-- ENDIF -->

</form>

<!-- INCLUDE ucp_footer.html -->
