<!-- INCLUDE ucp_header.html -->
<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

		<table class="table2">
		<!-- IF ERROR -->
			<tr class="bg2">
				<td style="text-align:center;"><span class="genmed error">{ERROR}</span></td>
			</tr>
		<!-- ENDIF -->
		<tr class="bg1">
			<td style="text-align:center;">
				<!-- IF S_TINFO_TORRENTSSIZES -->{L_TRACKER_USER_TORRENTS}: <a href="<!-- IF S_DISPLAY_SEARCH -->{U_TRACKER_USER_TORRENTS}<!-- ELSE -->#<!-- ENDIF -->"><b>{TRACKER_USER_TORRENTS}</b></a><!-- ENDIF -->
			</td>
			<td style="text-align:center;">
				<!-- IF S_TINFO_COMMENTS -->{L_TRACKER_USER_COMMENTS}: <a href="<!-- IF S_DISPLAY_SEARCH -->{U_TRACKER_USER_COMMENTS}<!-- ELSE -->#<!-- ENDIF -->"><b>{TRACKER_USER_COMMENTS}</b></a><!-- ENDIF -->
			</td>
			<td style="text-align:center;">{L_TRACKER_USER_RATIO}: <b>{TRACKER_USER_RATIO}</b></td>
			<td style="text-align:center;">{L_TRACKER_USER_UPLOAD}: <b>{TRACKER_USER_UPLOAD}</b></td>
			<td style="text-align:center;">{L_TRACKER_USER_DOWNLOAD}: <b>{TRACKER_USER_DOWNLOAD}</b></td>
		</tr>
		</table>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE ucp_footer.html -->
