<!-- INCLUDE ucp_header.html -->
<h2>{L_TITLE}</h2>

<form id="ucp" method="post" action="{S_UCP_ACTION}">

<div class="panel">
	<div class="inner">
	<fieldset>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	<dl>
		<dt><label for="recreate_passkey">{L_RECREATE_PASSKEY}: </label><br />{L_RECREATE_PASSKEY_EXPLAIN}</dt>
		<dd>
			<label><input type="checkbox" id="recreate_passkey" name="recreate_passkey" value="1" /></label>
		</dd>
	</dl>
	<dl>
		<dt><label for="uto_tdt"><!-- IF S_TDT_TYPE -->{L_UTO_TDT}<!-- ELSE -->{L_UTO_TDT2}<!-- ENDIF -->: </label><br /><!-- IF S_TDT_TYPE -->{L_UTO_TDT_EXPLAIN}<!-- ELSE -->{L_UTO_TDT2_EXPLAIN}<!-- ENDIF --></dt>
		<dd>
			<label><input class="radio" type="checkbox" id="uto_tdt" name="uto_tdt" value="1"<!-- IF S_UTO_TDT --> checked="checked"<!-- ENDIF --> /></label>
		</dd>
	</dl>
	<!-- IF S_BOOKMARKS -->
	<dl>
		<dt><label for="show_bookmarks">{L_SHOW_BOOKMARKS}: </label><br />{L_SHOW_BOOKMARKS_EXPLAIN}</dt>
		<dd>
			<label><input type="checkbox" id="show_bookmarks" name="show_bookmarks" value="1"<!-- IF S_SHOW_BOOKMARKS --> checked="checked"<!-- ENDIF --> /></label>
		</dd>
	</dl>
	<dl>
		<dt><label for="autodel_bookmarks">{L_AUTODEL_BOOKMARKS}: </label><br />{L_AUTODEL_BOOKMARKS_EXPLAIN}</dt>
		<dd>
			<label><input type="checkbox" id="autodel_bookmarks" name="autodel_bookmarks" value="1"<!-- IF S_AUTODEL_BOOKMARKS --> checked="checked"<!-- ENDIF --> /></label>
		</dd>
	</dl>
	<dl>
		<dt><label for="del_bookmarks">{L_DELETE_BOOKMARKS}: </label><br />{L_DELETE_BOOKMARKS_EXPLAIN}</dt>
		<dd>
			<label>
				<select name="del_bookmarks">
					<option value="0">{L_NO}</option>
					<option value="1">{L_YES}</option>
					<option value="2">{L_DELETE_BOOKMARKS_FINISHED}</option>
				</select>
			</label>
		</dd>
	</dl>
	<!-- ENDIF -->
	</fieldset>
	</div>
</div>

<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
	{S_FORM_TOKEN}
</fieldset>

</form>

<!-- INCLUDE ucp_footer.html -->
