<table class="stripe hover order-column" id="tt_info">
<thead>
<tr>
	{S_TORRENT_HEADER}
</tr>
</thead>
<tbody>

<!-- IF S_HAS_TORRENT_EXPLAIN_FILELIST -->
<!-- BEGIN filelist_option -->
<!-- IF filelist_option.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
	<td><span style="display:none;">{filelist_option.TORRENT_FILE}</span>{filelist_option.TORRENT_FILE}</td>
	<td><span style="display:none;">{filelist_option.TORRENT_BSIZE}</span>{filelist_option.TORRENT_SIZE}</td>
</tr>
<!-- END filelist_option -->
<!-- ENDIF -->

<!-- IF S_HAS_TORRENT_EXPLAIN_FINISHED -->
<!-- BEGIN finished_option -->
<!-- IF finished_option.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
	<td><span style="display:none;">{finished_option.TORRENT_CUSER}</span>{finished_option.TORRENT_USER}</td>
	<td><span style="display:none;">{finished_option.TORRENT_BUP}</span>{finished_option.TORRENT_UP}</td>
	<td><span style="display:none;">{finished_option.TORRENT_BDOWN}</span>{finished_option.TORRENT_DOWN}</td>
	<td><span style="display:none;">{finished_option.TORRENT_ACTIVE}</span>{finished_option.TORRENT_ACTIVE}</td>
	<td><span style="display:none;">{finished_option.TORRENT_RATIO}</span>{finished_option.TORRENT_RATIO}</td>
	<!-- IF S_IS_ADMOD --><td><span style="display:none;">{finished_option.TORRENT_SLAST}</span>{finished_option.TORRENT_LAST}</td>
	<td><span style="display:none;">{finished_option.TORRENT_ANNCOUNT}</span>{finished_option.TORRENT_ANNCOUNT}</td><!-- ENDIF -->
	<td><span style="display:none;">{finished_option.TORRENT_COMPLETED}</span>{finished_option.TORRENT_COMPLETED}<!-- IF finished_option.TORRENT_COMPLETED != '' -->%<!-- ENDIF --></td>
</tr>
<!-- END finished_option -->
<!-- ENDIF -->

<!-- IF S_HAS_TORRENT_EXPLAIN_SEED -->
<!-- BEGIN seed_option -->
<!-- IF seed_option.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
	<td><span style="display:none;">{seed_option.TORRENT_CUSER}</span>{seed_option.TORRENT_USER}</td>
	<td><span style="display:none;">{seed_option.TORRENT_BUP}</span>{seed_option.TORRENT_UP}</td>
	<td><span style="display:none;">{seed_option.TORRENT_BDOWN}</span>{seed_option.TORRENT_DOWN}</td>
	<td><span style="display:none;">{seed_option.TORRENT_RATIO}</span>{seed_option.TORRENT_RATIO}</td>
	<!-- IF S_IS_ADMOD --><td><span style="display:none;">{seed_option.TORRENT_SLAST}</span>{seed_option.TORRENT_LAST}</td>
	<td><span style="display:none;">{seed_option.TORRENT_ANNCOUNT}</span>{seed_option.TORRENT_ANNCOUNT}</td><!-- ENDIF -->
	<td><span style="display:none;">{seed_option.TORRENT_COMPLETED}</span>{seed_option.TORRENT_COMPLETED}<!-- IF seed_option.TORRENT_COMPLETED != '' -->%<!-- ENDIF --></td>
</tr>
<!-- END seed_option -->
<!-- ENDIF -->

<!-- IF S_HAS_TORRENT_EXPLAIN_LEECH -->
<!-- BEGIN leech_option -->
<!-- IF leech_option.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
	<td><span style="display:none;">{leech_option.TORRENT_CUSER}</span>{leech_option.TORRENT_USER}</td>
	<td><span style="display:none;">{leech_option.TORRENT_BUP}</span>{leech_option.TORRENT_UP}</td>
	<td><span style="display:none;">{leech_option.TORRENT_BDOWN}</span>{leech_option.TORRENT_DOWN}</td>
	<td><span style="display:none;">{leech_option.TORRENT_RATIO}</span>{leech_option.TORRENT_RATIO}</td>
	<!-- IF S_IS_ADMOD --><td><span style="display:none;">{leech_option.TORRENT_SLAST}</span>{leech_option.TORRENT_LAST}</td>
	<td><span style="display:none;">{leech_option.TORRENT_ANNCOUNT}</span>{leech_option.TORRENT_ANNCOUNT}</td><!-- ENDIF -->
	<td><span style="display:none;">{leech_option.TORRENT_COMPLETED}</span>{leech_option.TORRENT_COMPLETED}<!-- IF leech_option.TORRENT_COMPLETED != '' -->%<!-- ENDIF --></td>
</tr>
<!-- END leech_option -->
<!-- ENDIF -->

<!-- IF S_HAS_TORRENT_EXPLAIN_DOWNLOADS -->
<!-- BEGIN downloads_option -->
<!-- IF downloads_option.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
	<td><span style="display:none;">{downloads_option.TORRENT_CUSER}</span>{downloads_option.TORRENT_USER}</td>
	<td><span style="display:none;">{downloads_option.TORRENT_BUP}</span>{downloads_option.TORRENT_UP}</td>
	<td><span style="display:none;">{downloads_option.TORRENT_BDOWN}</span>{downloads_option.TORRENT_DOWN}</td>
	<td><span style="display:none;">{downloads_option.TORRENT_COMPLETED}</span>{downloads_option.TORRENT_COMPLETED}<!-- IF downloads_option.TORRENT_COMPLETED != '' -->%<!-- ENDIF --></td>
	<td><span style="display:none;">{downloads_option.TORRENT_ACTIVE}</span>{downloads_option.TORRENT_ACTIVE}</td>
	<!-- IF S_IS_ADMOD --><td><span style="display:none;">{downloads_option.TORRENT_SLAST}</span>{downloads_option.TORRENT_LAST}</td>
	<td><span style="display:none;">{downloads_option.TORRENT_ANNCOUNT}</span>{downloads_option.TORRENT_ANNCOUNT}</td><!-- ENDIF -->
	<td><span style="display:none;">{downloads_option.TORRENT_RATIO}</span>{downloads_option.TORRENT_RATIO}</td>
	<td><span style="display:none;">{downloads_option.TORRENT_SDOWNLOADED}</span>{downloads_option.TORRENT_DOWNLOADED}</td>
</tr>
<!-- END downloads_option -->
<!-- ENDIF -->

<!-- IF S_HAS_TORRENT_EXPLAIN_HISTORY -->
<!-- BEGIN history_option -->
<!-- IF history_option.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
	<td><span style="display:none;">{history_option.TORRENT_CUSER}</span>{history_option.TORRENT_USER}</td>
	<td><span style="display:none;">{history_option.TORRENT_BUP}</span>{history_option.TORRENT_UP}</td>
	<td><span style="display:none;">{history_option.TORRENT_BDOWN}</span>{history_option.TORRENT_DOWN}</td>
	<td><span style="display:none;">{history_option.TORRENT_COMPLETED}</span>{history_option.TORRENT_COMPLETED}<!-- IF history_option.TORRENT_COMPLETED != '' -->%<!-- ENDIF --></td>
	<td><span style="display:none;">{history_option.TORRENT_ACTIVE}</span>{history_option.TORRENT_ACTIVE}</td>
	<!-- IF S_IS_ADMOD --><td><span style="display:none;">{history_option.TORRENT_SLAST}</span>{history_option.TORRENT_LAST}</td>
	<td><span style="display:none;">{history_option.TORRENT_ANNCOUNT}</span>{history_option.TORRENT_ANNCOUNT}</td><!-- ENDIF -->
	<td><span style="display:none;">{history_option.TORRENT_RATIO}</span>{history_option.TORRENT_RATIO}</td>
</tr>
<!-- END history_option -->
<!-- ENDIF -->

<!-- IF S_HAS_TORRENT_EXPLAIN_LEAVE -->
<!-- BEGIN leave_option -->
<!-- IF leave_option.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
	<td><span style="display:none;">{leave_option.TORRENT_CUSER}</span>{leave_option.TORRENT_USER}</td>
	<td><span style="display:none;">{leave_option.TORRENT_BUP}</span>{leave_option.TORRENT_UP}</td>
	<td><span style="display:none;">{leave_option.TORRENT_BDOWN}</span>{leave_option.TORRENT_DOWN}</td>
	<td><span style="display:none;">{leave_option.TORRENT_COMPLETED}</span>{leave_option.TORRENT_COMPLETED}<!-- IF leave_option.TORRENT_COMPLETED != '' -->%<!-- ENDIF --></td>
	<td><span style="display:none;">{leave_option.TORRENT_ACTIVE}</span>{leave_option.TORRENT_ACTIVE}</td>
	<!-- IF S_IS_ADMOD --><td><span style="display:none;">{leave_option.TORRENT_SLAST}</span>{leave_option.TORRENT_LAST}</td>
	<td><span style="display:none;">{leave_option.TORRENT_ANNCOUNT}</span>{leave_option.TORRENT_ANNCOUNT}</td><!-- ENDIF -->
	<td><span style="display:none;">{leave_option.TORRENT_RATIO}</span>{leave_option.TORRENT_RATIO}</td>
</tr>
<!-- END leave_option -->
<!-- ENDIF -->

<!-- IF S_HAS_TORRENT_EXPLAIN_BOOKMARKS -->
<!-- BEGIN bookmarks_option -->
<!-- IF bookmarks_option.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
	<td><span style="display:none;">{bookmarks_option.TORRENT_CUSER}</span>{bookmarks_option.TORRENT_USER}</td>
	<td><span style="display:none;">{bookmarks_option.TORRENT_BUP}</span>{bookmarks_option.TORRENT_UP}</td>
	<td><span style="display:none;">{bookmarks_option.TORRENT_BDOWN}</span>{bookmarks_option.TORRENT_DOWN}</td>
	<td><span style="display:none;">{bookmarks_option.TORRENT_COMPLETED}</span>{bookmarks_option.TORRENT_COMPLETED}<!-- IF bookmarks_option.TORRENT_COMPLETED != '' -->%<!-- ENDIF --></td>
	<td><span style="display:none;">{bookmarks_option.TORRENT_ACTIVE}</span>{bookmarks_option.TORRENT_ACTIVE}</td>
	<!-- IF S_IS_ADMOD --><td><span style="display:none;">{bookmarks_option.TORRENT_SLAST}</span>{bookmarks_option.TORRENT_LAST}</td>
	<td><span style="display:none;">{bookmarks_option.TORRENT_ANNCOUNT}</span>{bookmarks_option.TORRENT_ANNCOUNT}</td><!-- ENDIF -->
	<td><span style="display:none;">{bookmarks_option.TORRENT_RATIO}</span>{bookmarks_option.TORRENT_RATIO}</td>
	<td><span style="display:none;">{bookmarks_option.TORRENT_SADDDATE}</span>{bookmarks_option.TORRENT_ADDDATE}</td>
</tr>
<!-- END bookmarks_option -->
<!-- ENDIF -->

<!-- IF S_HAS_TORRENT_EXPLAIN_REMOTE -->
<!-- BEGIN remote_option -->
<!-- IF remote_option.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
	<td><span style="display:none;">{remote_option.TORRENT_RTRACKURL}</span>{remote_option.TORRENT_RTRACKURL}</td>
	<td><span style="display:none;">{remote_option.TORRENT_SNANNOUNCE}</span>{remote_option.TORRENT_NANNOUNCE}</td>
	<!-- IF S_IS_ADMOD --><td><span style="display:none;">{remote_option.TORRENT_AMESSAGE}</span>{remote_option.TORRENT_AMESSAGE}</td>
	<td><span style="display:none;">{remote_option.TORRENT_SAINTERVAL}</span>{remote_option.TORRENT_AINTERVAL}</td>
	<td><span style="display:none;">{remote_option.TORRENT_ERRCOUNT}</span>{remote_option.TORRENT_ERRCOUNT}</td><!-- ENDIF -->
	<td><span style="display:none;">{remote_option.TORRENT_SEEDERS}</span>{remote_option.TORRENT_SEEDERS}</td>
	<td><span style="display:none;">{remote_option.TORRENT_LEECHERS}</span>{remote_option.TORRENT_LEECHERS}</td>
	<td><span style="display:none;">{remote_option.TORRENT_TCOMPLETED}</span>{remote_option.TORRENT_TCOMPLETED}</td>
	<td><span style="display:none;">{remote_option.TORRENT_PEERS}</span>{remote_option.TORRENT_PEERS}</td>
</tr>
<!-- END remote_option -->
<!-- ENDIF -->
</tbody>

<!--	<tfoot>
<tr>
	{S_TORRENT_HEADER}
</tr>
</tfoot>-->

</table>

<!-- IF S_VT_PAGE -->
<table width="100%">
<tr>
	<td style="text-align:center;">{L_TRACKER_PAGE}: {S_VT_PAGE}</td>
</tr>
</table>
<!-- ENDIF -->

<!-- IF S_ANON_ADDON -->
<table width="100%">
<tr>
	<td>{L_TRDATA_WITHOUT_GUESTS}</td>
</tr>
</table>
<!-- ENDIF -->

<!-- IF S_REMSEEDS -->
<table width="100%">
<tr>
	<td>{S_REMSEEDS}</td>
</tr>
</table>
<!-- ENDIF -->

<!-- IF S_REMLEECHS -->
<table width="100%">
<tr>
	<td>{S_REMLEECHS}</td>
</tr>
</table>
<!-- ENDIF -->

<!-- IF S_REMCOMPLETED -->
<table width="100%">
<tr >
	<td >{S_REMCOMPLETED}</td>
</tr>
</table>
<!-- ENDIF -->

<!-- IF S_TORRENT_FOOTER -->
<table width="100%" style="margin-top:20px;">
<tr>
	<td style="text-align:center;"><strong>{L_DT_HIDE}</strong>: {S_TORRENT_FOOTER}</td>
</tr>
</table>
<!-- ENDIF -->